<style media="screen">
  #editSelf ul li{
    float: none;
  }
  #editSelf ul li a{
    display: block;
  }
  .active {
    text-decoration: none;
    background-color: #eee;
  }
</style>
<div class="theiaStickySidebar">
  <div class="tr-section">
    <div class="user-logo">
      <img id="sidebarImg" src="<%= current_user.display_headshot %>" alt="" class="img-circle" width="150px">
    </div>
    <h3><%= current_user.nickname %></h3>
    <%= link_to '基本信息修改', edit_users_path, class: "btn btn-info btn-md", style: "display: inlin-block; margin: 30px 0px 15px 0px;" %>

    <hr>
    <div class="collapse navbar-collapse" id="editSelf">
      <ul class="nav">
        <li>
          <%= link_to(self_message_users_path(type: 'unread')) do %>
            消息中心
            <% if Notification.where(user: current_user).unread.count > 0 %>
              <span class="badge" style="background-color: #d9534f;"><%= Notification.where(user: current_user).unread.count%></span>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to '账号设置', edit_users_path %>
        </li>
        <li>
          <%= link_to '我的订单', self_order_users_path %>
        </li>
        <li>
          <%= link_to '我的评论', self_comment_users_path %>
        </li>
        <li>
          <%= link_to '意见反馈', self_complaint_users_path %>
        </li>
        <hr>
        <li>
          <%= link_to '帮助中心', '/contact' %>
        </li>
        <li>
          <%= link_to '场馆入驻', '/about' %>
        </li>
      </ul>
    </div>
  </div>
</div>
