<style type="text/css">
	.weight-300{
		font-weight: 300 !important;
	}
	.margin-top-10{
		margin-top: 10px !important;
	}
	.contact-fa{
		padding-right: 5px;
		color: #35ceb4;
	}
</style>
<div class="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-9 tr-sticky">
				<div class="tr-content theiaStickySidebar" style="margin-top: 0px;margin-left: -15px; margin-right: -15px;">
					<div class="tr-section">
						<div class="tr-post">
							<div class="entry-header">
								<div class="entry-thumbnail">
									<div class="col-md-7">
										<img class="img-responsive" src="<%= @site.first_image %>" alt="<%= @site.title %>" style="max-height: 350px;">
									</div>
									<div class="col-md-5">
										<div class="post-content margin-top-10">
											<h2 class="entry-title weight-300"><%= @site.title %></h2>
											<p><i class="fa fa-user contact-fa"></i>联系人：
												<% if @site.contact_name.present? %>
                          <%= @site.contact_name %>
                        <% else %>
                          <%= @site.title %>
                        <% end %>
											</p>
											<p><i class="fa fa-mobile fa-lg contact-fa"></i>联系电话：
												<% if @site.contact_phone.present? %>
                          <%= @site.contact_phone %>
                        <% else %>
                          <%= @site.phone %>
                        <% end %>
											</p>
											<p><i class="fa fa-clock-o contact-fa"></i>营业时间：
												<% if @site.business_hours.present? %>
                          <%= @site.business_hours %>
                        <% else %>
                          09:00-22:00
                        <% end %>
											</p>
											<p><i class="fa fa-rmb contact-fa"></i>人均消费：
												<% if @site.avg_price.to_i == 0 %>
												免费
												<% else%>
												<%= @site.avg_price %>
												<% end %>
											</p>
											<p><i class="fa fa-map-marker contact-fa"></i>地址：
												<% if @site.address_line.present? %>
                          <%= @site.address_line %>
                        <% else %>
                          暂无
                        <% end %>
											</p>
											<p><i class="fa fa-info contact-fa"></i>简介： <%= @site.description.truncate(120) %></p>
										</div>
									</div>
								</div>
							</div>
							<div class="post-content">
									<!-- <div class="author">
										<img class="img-responsive img-circle" src="/templetes/newshub/images/others/user.png" alt="Image">
									</div> -->
								<div class="entry-meta">
									<ul>
										<li><a href="javascript:void(0)"><i class="fa fa-user-circle-o"></i> <%= @cms_site.name %></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-clock-o"></i> <%= distance_of_time_in_words_to_now(@site.updated_at) %>前</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-eye"></i> <%= @site.visits_count %>阅读</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-comments-o"></i> <%= @site.comments_count %>评论</a></li>
										<li>
											<ul>
												<div class="bdsharebuttonbox" data-tag="share_1">
	                        <a class="bds_qzone" data-cmd="qzone"></a>
	                        <a class="bds_tsina" data-cmd="tsina"></a>
	                        <a class="bds_sqq" data-cmd="sqq"></a>
	                        <a class="bds_weixin" data-cmd="weixin"></a>
	                      </div>
											</ul>
										</li>
									</ul>
								</div>
								<!-- <h1>
									<%#= @site.title %>
								</h1> -->
							</div>
						</div>
						<% if @site.content.present? %>
							<div class="tr-details">
								<%= raw @site.content %>
							</div>
						<% end %>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
