<%= render file: @cms_site.template_dir + '_header.html' %>
<div id="wrap">
  <div class="container">

    <div class="blog-author clearfix">
      <img alt="Image" src="http://1.gravatar.com/avatar/1986f5007ea888ec7ba6542025be0310?s=64&amp;r=g">
      <div class="author-desc">
        <h4 style="color: #384042;">
          <%= @order.products[0].name %>
          <small>单号：<%= @order.code %></small>
        </h4>
        <ul class="blog-tags clearfix" style="margin-bottom: 10px;">
          <li>
            <span style="padding: 0 6px;letter-spacing: 1px;text-transform: uppercase;display: inline-block;z-index: 3;background: #f08300;color: #FFF;font-size: 11px;line-height: 18px;border-radius: 4px;">
							数量：<%= @order.order_products[0].amount %>
						</span>
          </li>
          <li>
            <span style="padding: 0 6px;letter-spacing: 1px;text-transform: uppercase;display: inline-block;z-index: 3;background: #f08300;color: #FFF;font-size: 11px;line-height: 18px;border-radius: 4px;">
							<i class="fa fa-clock-o m-l-5"></i>
							时长：<%= @order.products[0].service_time %>
						</span>
          </li>
        </ul>
				<h5 style="color: #f08300;">￥<%= @order.price.to_f %></h5>
        <p><%= @order.products[0].description %></p>
      </div>
    </div>

  </div>
  <section id="start" class="padding-top-bottom text-center">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h2>订单创建成功</h2>
          <p>订单ID:<%= @order.id %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!-- pay start -->
          <div class="hd">
              <h1 class="page_title"><%= PaymentCore.title %></h1>
              <p class="page_desc"><%= PaymentCore.description %></p>
          </div>

          <div class="bd">
              <div class="weui_cells">
                  <div class="weui_cell">
                      <div class="weui_cell_bd weui_cell_primary">
                          <p>订单编号</p>
                      </div>
                      <div class="weui_cell_ft"><%= @order.code %></div>
                  </div>
                  <div class="weui_cell">
                      <div class="weui_cell_bd weui_cell_primary">
                          <p>支付金额</p>
                      </div>
                      <div class="weui_cell_ft"><%= @order.order_products.first.price.to_f %>元</div>
                  </div>
              </div>
              <div class="weui_btn_area">
                <%= simple_form_for(@order, url: charge_frontend_order_path, method: :post, remote: true) do |f| %>
                  <% f.button :submit, '去结算', class: 'btn btn-primary weui_btn weui_btn_primary' %>
                <% end %>
              </div>
          </div>

          <%= javascript_include_tag 'frontend/pingpp' %>
          <script>
            function onStartCharging(charge){
                pingpp.createPayment(charge, function(result, err){
                  console.log(result);
                  console.log(err.msg);
                  console.log(err.extra);
                  if (result == "success") {
                      // 只有微信公众账号 wx_pub 支付成功的结果会在这里返回，其他的支付结果都会跳转到 extra 中对应的 URL。
                  } else if (result == "fail") {
                      // charge 不正确或者微信公众账号支付失败时会在此处返回
                  } else if (result == "cancel") {
                      // 微信公众账号支付取消支付
                  }
                });
              }
          </script>

        <!-- pay end -->
        </div>
      </div>
    </div>
  </section>
  <!-- vertical center / slider -->
  <!-- end vertical center / slider -->
  <%= render file: @cms_site.template_dir + '_footer.html' %>
</div>
