<%= render file: 'frontend/micro_website/_navbar.html.erb' %>
<div class="wechat-box">
	<div class="main-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-xs-12 tr-sticky">
					<div class="tr-content theiaStickySidebar" style="margin: 0px -15px;">
						<div class="tr-section">
							<div class="tr-post">
								<div class="entry-header">
									<div class="entry-thumbnail">
										<img class="img-responsive" src="<%= @page.image_path %>" alt="<%= @page.keywords %>">
									</div>
								</div>
								<div class="post-content">

									<div class="entry-meta">
										<ul>
											<li><a href="javascript:void(0)"><i class="fa fa-user-circle-o"></i> <%= @cms_site.name %></a></li>
	                    <li><a href="javascript:void(0)"><i class="fa fa-clock-o"></i> <%= distance_of_time_in_words_to_now(@page.updated_at) %>前</a></li>
	                    <li><a href="javascript:void(0)"><i class="fa fa-eye"></i> <%= @page.impressions_count %>阅读</a></li>
											<li>
												<ul>
													<div class="bdsharebuttonbox" data-tag="share_1">
													  <a class="bds_qzone" data-cmd="qzone"></a>
													  <a class="bds_tsina" data-cmd="tsina"></a>
													  <a class="bds_sqq" data-cmd="sqq"></a>
													  <a class="bds_weixin" data-cmd="weixin"></a>
													</div>
												</ul>
											</li>
										</ul>
									</div>
									<div class="page-title"><h1><%= @page.title %></h1></div>
								</div>
							</div>

							<div class="tr-details">
								<%= raw @page.content %>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<%= render file: 'frontend/micro_website/_footer.html.erb' %>
