<%= render file: 'frontend/micro_website/_navbar.html.erb' %>
<div class="wechat-box">
  <div class="list-group custom-list">
    <% @pages.each do |page| %>
      <a href='<%= wechat_new_micro_website_path(id: page.id) %>' class="list-group-item">
        <div class="row">
          <div class="col-xs-8">
            <div class="title text-overflow">
              <%= page.title %>
            </div>
            <small class="content" style="color: #9e9e9e; font-size: 12px;"><%= page.description %></small>
            <div class="time">
              <small><%= get_date(page.updated_at) %></small>
            </div>
          </div>
          <div class="col-xs-4" style="padding: 0px 15px 0px 0px;">
            <div class="image-dom" style="background-image: url('<%= page.image_path? ? page.image_path : 'http://song-dev.qiniudn.com/product.jpg' %>')"></div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
<%= paginate @pages %>
<%= render file: 'frontend/micro_website/_footer.html.erb' %>

<style lang="css">
  .custom-list .title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 16px;
    white-space: normal;
  }
  .custom-list .content{
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 12px;
    white-space: normal;
  }
  .custom-list .time{
    margin-top: 10px;
    color: #777;
  }
  .custom-list .image-dom{
    width: 100%;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .list-group-item:first-child, .list-group-item:last-child{
    border-radius: 0px
  }
  .list-group-item {
    border: 0px;
    border-bottom: 1px solid #ddd;
  }
</style>
