<%= render file: 'frontend/micro_website/_navbar.html.erb' %>
<div class="wechat-box">
	<div class="main-wrapper">
		<div class="container">
	    <div class="row">
	      <div class="col-sm-12 tr-sticky">
	        <div class="tr-content theiaStickySidebar" style="margin: 0px -15px;">
	          <div class="tr-section">
	            <div class="tr-post">
	              <div class="entry-header">
	                <div class="row">
	                  <div class="col-md-12">
	                    <div class="entry-thumbnail">
	                      <img class="img-responsive" src="<%= @product.first_image %>" alt="<%= @product.name %>">
	                    </div>
	                  </div>
	                  <div class="col-md-12 post-content prodShowRight m-0">
	                    <% if @product.sell_price > 0 %>
	                      <p><i class="fa fa-cny"></i>价格： <%= @product.sell_price / 100.0 %></p>
	                    <% else %>
	                      <p><i class="fa fa-cny"></i>价格： 免费</p>
	                    <% end %>

	                    <% if @product.address_line1.present? %>
	                      <p>
	                        <i class="fa fa-map-marker  %>"></i>地址：
	                        <%= @product.address_line1 %>
	                        <br/>
	                        <small><%= @product.address_line2 %></small>
	                      </p>
	                    <% end %>

	                    <% if @product.date.present? %>
	                      <p>
	                        <i class="fa fa-calendar"></i>日期：
	                        <%= @product.date %>
	                      </p>
	                    <% end %>

	                    <% if @product.time.present? %>
	                      <p>
	                        <i class="fa fa-clock-o"></i>时间：
	                        <%= @product.time %>
	                      </p>
	                    <% end %>

	                    <% if @product.phone.present? %>
	                      <p>
	                        <i class="fa fa-phone-square"></i>联系方式：
	                        <%= @product.phone %>
	                      </p>
	                    <% end %>

	                    <% if @product.status.present? %>
	                      <p><i class="fa fa-bullhorn"></i>状态：<%= enum_i18n(Product, :status, @product.status) %></p>
	                    <% end %>
	                    <p>
	                      <% if @product.sell_price > 0 %>
													<a href="<%= new_frontend_order_path(product_id: @product.id) %>" class="btn btn-block btn-lg btn-success">马上预订</a>
												<% elsif @product.is_foraged %>
													<a href="<%= @product.external_purchase_url %>" class="btn btn-block btn-lg btn-success">马上预订</a>
	                      <% end %>
	                    </p>
	                  </div>
	                </div>
	              </div>
	              <div class="post-content">
	                <!-- <div class="author">
	                  <img class="img-responsive img-circle" src="/templetes/newshub/images/others/user.png" alt="Image">
	                </div> -->
	                <div class="entry-meta">
	                  <ul>
	                    <li><a href="javascript:void(0)"><i class="fa fa-clock-o"></i> <%= distance_of_time_in_words_to_now(@product.updated_at) %>前</a></li>
	                    <li><a href="javascript:void(0)"><i class="fa fa-eye"></i> <%= @product.visits_count %>阅读</a></li>
	                    <li><a href="javascript:void(0)"><i class="fa fa-comments-o"></i> <%= @product.comments_count %>评论</a></li>
	                    <li>
	                      <ul>
	                        <div class="bdsharebuttonbox" data-tag="share_1">
	                          <a class="bds_qzone" data-cmd="qzone"></a>
	                          <a class="bds_tsina" data-cmd="tsina"></a>
	                          <a class="bds_sqq" data-cmd="sqq"></a>
	                          <a class="bds_weixin" data-cmd="weixin"></a>
	                        </div>
	                      </ul>
	                    </li>
	                  </ul>
	                </div><!-- /.entry-meta -->
	              </div><!-- /.post-content -->
	            </div>

	            <div class="tr-details">
	              <%= raw @product.content %>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<%= render file: 'frontend/micro_website/_footer.html.erb' %>
