<%= render file: @cms_site.template_dir + '_header.html' %>
<% if @orders.present? %>
  <div style="text-align: center">
    <h2>订单列表</h2>
  </div>
  <% @orders.each do |order|%>
    <div class="panel panel-default show-order" data-url="<%= wechat_order_micro_website_url(id: order.id)%>">
      <div class="panel-body">
        <h3>订单号: <%= order.code%></h3>
        <p>订单金额: &nbsp;&nbsp;<%= order.price/100.0%>元</p>
        <p>订单状态: &nbsp;&nbsp;<%= enum_l(order, :status)%></p>
      </div>
    </div>
  <% end %>
<% else %>
  <div style="text-align: center;padding: 40px 0px;">
    <h3><i class="fa fa-dropbox fa-3x"></i></h3>
    <h3>您还没有相关订单</h3>
    <h4><a href="/">点击这里去下一单试试吧</a></h4>
  </div>
<% end %>
<%= render file: @cms_site.template_dir + '_footer.html' %>
<script type="text/javascript">
  $(function() {
    $('.show-order').on('click', function(){
      window.location.href = $(this).data('url')
    })
  })
</script>