<!-- BEGIN #about-us-cover -->
<div id="about-us-cover" class="has-bg section-container">
    <!-- BEGIN cover-bg -->
    <div class="cover-bg">
      <img src="http://song-dev.qiniudn.com/about-us-cover.jpg" alt="<%= Settings.site.name%>" />
    </div>
    <!-- END cover-bg -->
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
        <ul class="breadcrumb m-b-10 f-s-12">
            <li><a href="javascript:void(0);"><%= Settings.site.name %></a></li>
            <li class="active">商家端</li>
        </ul>
        <!-- END breadcrumb -->
        <!-- BEGIN about-us -->
        <div class="about-us text-center">
            <% if Settings.project.wgtong? %>
              <h1><%= @site.title %></h1>
            <% else %>
              <h1>欢迎使用商家端</h1>
              <p>
                打通O2O全网营销模式，开启新零售之路。
              </p>
              <p>
                <% unless @site.agent_plan_id %>
                  <a href="<%=agent_agent_plans_path%>" class="btn btn-info">查看商家套餐</a>
                <% end %>
              </p>
            <% end%>
        </div>
        <!-- END about-us -->
    </div>
    <!-- END container -->
</div>
<!-- END #about-us-cover -->

<div class="container">
<!-- begin #content -->
<div id="content" class="content">
  <!-- begin breadcrumb -->

  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header"></h1>
  <!-- end page-header -->

  <!-- begin row -->
  <% unless Settings.project.cms? %>
  <div class="row">
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-green">
        <div class="stats-icon"><i class="fa fa-desktop"></i></div>
        <div class="stats-info">
          <h4>产品</h4>
          <p><%= @product_total_count %></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_products_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-blue">
        <div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
        <div class="stats-info">
          <h4>订单</h4>
          <p><%= @order_total_count%></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_orders_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <% if Settings.project.grand? %>
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-purple">
        <div class="stats-icon"><i class="fa fa-users"></i></div>
        <div class="stats-info">
          <h4>设计</h4>
          <p><%= @preorder_conversition_total_count %></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_preorder_conversitions_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <% end %>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <!-- <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-orange">
        <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
        <div class="stats-info">
          <h4>货运</h4>
          <p><%= @deliveries_total_count %></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_deliveries_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div> -->
    <!-- end col-3 -->
  </div>
  <!-- end row -->
  <% end %>

  <!-- begin row -->
  <div class="row">
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-green">
        <div class="stats-icon"><i class="fa fa-desktop"></i></div>
        <div class="stats-info">
          <h4>网站管理</h4>
          <p>官网栏目、页面管理</p>
        </div>
        <div class="stats-link">
          <a href="<%= @site.cms_site.nil? ? new_cms_site_path : cms_site_path(@site.cms_site) %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-blue">
        <div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
        <div class="stats-info">
          <h4>微营销</h4>
          <p>电子海报、邀请函</p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_market_pages_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-purple">
        <div class="stats-icon"><i class="fa fa-users"></i></div>
        <div class="stats-info">
          <h4>客户管理</h4>
          <p>客户维护、CRM</p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_members_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-red">
        <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
        <div class="stats-info">
          <h4>访问统计</h4>
          <p>页面访问、分销统计</p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_tracker_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
  </div>
  <!-- end row -->

  <hr style="height: 100px"/>
  <!-- begin row -->
  <div class="row">
    <!-- begin col-8 -->
    <div class="col-md-8">
      <div class="panel panel-inverse" data-sortable-id="index-1">
        <div class="panel-heading">
          <div class="panel-heading-btn">
          </div>
          <h4 class="panel-title">系统公告</h4>
        </div>
        <div class="panel-body">
          <p>暂无公告！</p>
        </div>
      </div>
    </div>
    <!-- end col-8 -->
    <!-- begin col-4 -->
    <div class="col-md-4">


      <div class="panel panel-inverse" data-sortable-id="index-8">
        <div class="panel-heading">
          <div class="panel-heading-btn">
          </div>
          <h4 class="panel-title">最新消息</h4>
        </div>
        <div class="panel-body p-0">
          <ul class="todolist">

            <li class="">
              <a href="javascript:;" class="todolist-container active" data-click="todolist">
                <div class="todolist-input"><i class="fa fa-square-o"></i></div>
                <div class="todolist-title">无.</div>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- end col-4 -->
  </div>
  <!-- end row -->
</div>
<!-- end #content -->
</div>
