<%= render file: @cms_site.template_dir + '_header.html' %>
<div class="contain clearfix">
    <div class="course-list clearfix">

        <div class="course-title clearfix">
            <div class="col-xs-4 col-md-12">
            <h3>最新课程</h3>
           <!-- <p >
            <a href="">更多>></a>
            </p>-->
            </div>
        </div>
        <ul class="clearfix">
                <div class="row">
                        <div class="ul-margin clearfix ">
                        <% @course.each do |course| %>
                                <div class="col-xs-12  col-md-3">
                                    <li> 
                                        <div class="" >
                                            <a href="" >
                                            <%=image_tag "2119946900.jpg" ,class:"img1" %>
                                            
                                            </a>
                                        </div>
                                        <div class="text-box" style="height:120px">
                                                <div class="title">
                                                <%= link_to  course.features["name"], frontend_course_path(course) %>
                                                <span class="tag-item text-black"><%= course.features["class_level"]%></span>
                                                </div>
                                                <div class="clearfix margin-t">
                                                    <div class="left">
                                                        <span class="tag-item">课程类型</span>
                                                        <span class="tag-item"><%= course.features["course_type"]%></span>
                                                    </div>
                                                    <div class="right">
                                                        <span class="tag-item">年龄限制</span>
                                                        <span class="tag-item"><%= course.features["age_range"]%></span>
                                                    </div>
                                                </div>
                                            <div class="clearfix margin-t">
                                                <div class="left">
                                                    <span class="tag-item">任课老师</span>
                                                    <span class="tag-item"><%=course.features["teacher_name"]%></span>
                                                    
                                                </div>
                                                <div class="right">
                                                    
                                                    <span class="tag-item">性别限制</span>
                                                    <span class="tag-item"><%=course.features["sex_limit"]%></span>
                                                    
                                                </div>
                                            </div>	 
                                        </div>
                                    </li>
                                </div>
                               
                            <%end%>        
                        </div>
                </div>	
        </ul>
        <div class="clearfix"></div>
    </div>
</div>