<div class="topbar clearfix">
<div class="container" style="transform:none">
    <div class="row row-height" style="transform:none">
         <div class="col-md-3 col-sm-6 col-xs-6">
             <a href="javascript:;" title="文广通,公共文化大数据平台" class="nav-img">
                <img class="img-responsive" src="http://s.tanmer.cn/qgm0" alt="文广通,公共文化大数据平台" style="max-height:35px;min-width:135px"></img>
             </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-6">
             <div class="text-top">
                <a href="javascript:;" class="white-text dropdown-toggle" type="button" id="selectArea" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="文广通地区分站">
                选择地区 &nbsp;
               <i class="glyphicon glyphicon-map-marker "></i>
                </a> 
             </div>
         </div>
         <div class="col-md-6 col-sm-12 col-xs-12">
             <div class="topbar-right" id="topbar-right"> 
                <div class="topbaruser" >
                    <div class="dropdown topbaruser-dropdown white-text">
                  你好,
                      <% if current_user %>
                        <span class="nav-item">
                          <%= link_to current_user.name, '#', class: 'nav-link' %>
                        </span>
                      
                       <a href="#" class="white-text  dropdown-toggle" aria-expanded="true" data-toggle="dropdown">
                       
                        <span class="caret"></span>
                         </a>
                    
                            <ul class="dropdown-menu bg-red" role="menu" aria-labelledby="dropdownMenu1">
                            
                            <li role="presentation" >
                                <%= link_to '个人中心', users_url, method: 'get', class: 'nav-link white-text' %>
                            </li>
                            <li role="presentation" >
                                <a href="users/sign_up" ><span class="white-text login-text">消息中心</span></a>
                            </li>
                            <li role="presentation" >
                            <a href="users/sign_up" ><span class="white-text login-text">我的订单</span></a>
                            </li>
                            <li role="presentation" >
                            <a href="users/sign_up" ><span class="white-text login-text">我的评论</span></a>
                            </li>
                            <li role="presentation" >
                            <a href="users/sign_up" ><span class="white-text login-text">关注收藏</span></a>
                            </li>
                            <li role="presentation" >
                            <%= link_to '退出', logout_path, method: 'delete', class: 'nav-link white-text' %>
                            </li>
                            </ul>
                        <%else%>
                        
                        <a href="#" class="white-text  dropdown-toggle" aria-expanded="true" data-toggle="dropdown">欢迎访问
                           
                         <span class="caret"></span>
                         </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" >
                                    <a href="users/login" ><span class="white-text login-text">登录</span></a>
                                </li>
                                <li role="presentation" >
                                    <a href="users/new" ><span class="white-text login-text">注册</span></a>
                                </li>
                                </ul>
                        <% end %>

                    </div>
                    
                 </div>
                
                    <div class="searchNlogin">
                            <ul class="topbar-ul">
                                <li class="topbar-li login-text">
                                    <a href="http://www.wgtong.cn/admin/sign_in" title="文广通发布新活动" class="white-text">发布新活动</a>
                                </li>
                                <li class="topbar-li login-text">
                                <a href="http://www.wgtong.cn/complaints" title="文广通侵权说明" target="_blank" class="white-text">侵权说明</a>
                                </li>
                                <li class="topbar-li login-text">
                                <a href="/users/self_message?type=unread" class="white-text">
                                <i class="glyphicon glyphicon-bell"></i>
                                </a>
                                </li>
                            </ul>
                    </div>
              
            </div>                
        </div>
         
    </div>
   
</div>
</div>
<!--内容部分 -->
<div class="content-body">
    <div class="container"> 
        <div class="row">
             <div class="col-xs-12 visible-xs">
             <button class="btn btn-danger pull-left" type="button" id="meun" onclick="meunBlock()"><span class="glyphicon glyphicon-align-justify"></span></button>
             </div>
        </div>
        <div class="row" style="transform:none">
            <div class="col-md-2 col-sm-12 " id="meun_block">
                <!--内容左边部分 -->             
                <div class="content-left" id="content_left">
                    <ul class="list-group"> 
                    <a href="/" class="list-group-item active">推荐</a>
                    <a href="http://www.wgtong.cn/frontend/product_catalogs/7" class="list-group-item">演出</a>
                    <a href="http://www.wgtong.cn/frontend/product_catalogs/10" class="list-group-item">赛事</a>
                    <a href="http://www.wgtong.cn/frontend/product_catalogs/46" class="list-group-item">培训</a>
                    <a href="http://www.wgtong.cn/frontend/product_catalogs/67" class="list-group-item">讲座</a>
                    <a href="http://www.wgtong.cn/frontend/product_catalogs/9" class="list-group-item">展览</a>
                    <a href="http://www.wgtong.cn/frontend/product_catalogs/12" class="list-group-item">亲子</a>
                    <a href="http://www.wgtong.cn/frontend/product_catalogs/68" class="list-group-item">文遗</a>
                    <a href="http://www.wgtong.cn/frontend/product_catalogs/62" class="list-group-item">公益</a>
                    <a href="http://www.wgtong.cn/frontend/product_catalogs/63" class="list-group-item">其他</a>
                    <a href="http://www.wgtong.cn/news" class="list-group-item">资讯</a>
                    </ul>
                </div> 
           </div>
            
            <div class="col-md-7 col-sm-12">
               <!--内容中间部分 -->
                <div class="contenMiddle">
                   <!--内容中间轮播图部分 -->
                     <div class="contenMiddle-top">
                          <div class="picture">
                                <div id="myCarousel" class="carousel slide">
                                     
                                    <!-- 轮播（Carousel）项目 -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                        <a href="#" title="联系我们 注册商家 成为我们的一员"><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1231/original_1.jpg" alt="联系我们 注册商家 成为我们的一员" ></a>
                                        <a href="#" class="a-bar">联系我们 注册商家 成为我们的一员</a>
                                        </div>
                                        <div class="item">
                                        <a href="#" title="欢迎入住 携手聚合城市公共文化"><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1232/original_3.jpg" alt="欢迎入住 携手聚合城市公共文化" ></a>
                                            <a href="#" class="a-bar">欢迎入住 携手聚合城市公共文化</a>
                                         </div>
                                        <div class="item">
                                        <a href="#" title="陈奕讯/王凯/蔡依林等几十明星阵容空降成都"><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1230/original_2.jpg" alt="陈奕讯/王凯/蔡依林等几十明星阵容空降成都" ></a>
                                        <a href="#" class="a-bar">陈奕讯/王凯/蔡依林等几十明星阵容空降成都</a>
                                        </div>
                                    </div>  
                                    <!-- 轮播（Carousel）指标 -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active">
                                        <img class="img-responsive" src="http://www.wgtong.cn/ckeditor_assets/pictures/1231/original_1.jpg" alt="First slide" style="width:80px;height:38.7px">
                                        </li>
                                        <li data-target="#myCarousel" data-slide-to="1">
                                        <img class="img-responsive" src="http://www.wgtong.cn/ckeditor_assets/pictures/1232/original_3.jpg" alt="First slide" style="width:80px;height:38.7px">
                                        </li>
                                        <li data-target="#myCarousel" data-slide-to="2">
                                        <img class="img-responsive" src="http://www.wgtong.cn/ckeditor_assets/pictures/1230/original_2.jpg" alt="First slide" style="width:80px;height:38.7px">
                                        </li>
                                    </ol>  
                                                                
                                </div> 

                          </div>
                     </div>
                     <!--内容中间文化内容部分 -->
                     <div class="contenMiddle-buttom">
                     <!--内容中间文化内容部分-第一种展示格式 -->                          
                        <% @message.each do |message| %>
                            <% if Picture.where(message_id: message.id).count>=4 %> 
                        <div class="row ">
                               <div class="col-md-12 row-padding">
                                   <h4><a href="#"><%=message.title%></a></h4>
                               </div>
                               <div class="row clearfix">   
                                 <% Picture.where(message_id: message.id).each do |picture| %>                    
                                    <div class="col-md-3 col-sm-3  col-xs-3 row-padding">
                                        <a href="#" title="<%=message.title%> " class="cover_img">
                                           <img src="<%=picture.pic%>"  class="img1"></a>
                                        </a>
                                    </div>
                                   <% end %>
                               </div>
                               <div class="col-md-12 row-padding">
                                     <div class="list-text">
                                         <a class="" href="http://www.wgtong.cn/fontend/sites/78" title="<%=message.company%>"><%=message.company%>&nbsp</a> · 
                                         <a class="" href="javascript:;" title="<%=message.kind%>">&nbsp<%=message.kind%>&nbsp</a> · 
                                         <a class="" href="javascript:;" title="<%=message.time%>"> &nbsp<%=message.time%>&nbsp</a> · 
                                         <a class="" href="javascript:;" title="<%=message.price%>">&nbsp<%=message.price%>&nbsp</a>
                                     </div>
                               </div>
                        </div>
                        <hr class='content-line'></hr>
                          
                       <% else %>
                         <!--内容中间文化内容部分-第二种展示格式 -->
                            
                             <div class="row row-margin row-padding0" >
                                <% Picture.where(message_id: message.id).each do |picture| %>   
                                <div class="col-md-3  col-sm-3 col-xs-3 row-padding">
                                <a href="#" ><img src="<%=picture.pic%>"  class="img1 "></a>
                                 </div>
                                <%end%>
                                <div class="col-md-9 col-sm-9 col-xs-9"> 
                                     <h4><a href="#" title="<%=message.title%>"><%=message.title%></a></h4>  
                                     <div class="list-text">
                                     <a class="" href="javascript:;" title="2018-1-19"> &nbsp2018-1-19&nbsp</a> · 
                                     <a class="" href="http://www.wgtong.cn/fontend/sites/78" title="<%=message.place%>"><%=message.place%>&nbsp</a>  
                                     <br>
                                     <a class="" href="javascript:;" title="<%=message.company%>">&nbsp<%=message.company%>&nbsp</a> · 
                                     <a class="" href="javascript:;" title="<%=message.kind%>">&nbsp<%=message.kind%>&nbsp</a>  ·    
                                     <a class="" href="javascript:;" title="<%=message.price%>">&nbsp<%=message.price%>&nbsp</a> 
                                    </div>
                                </div>
                           </div>
                           <hr class='content-line'></hr>
                           <%end%>
                       <% end %>                
                    </div>
                </div>            
            </div>
            <!--内容右边部分 -->
            <div class="col-md-3 col-sm-12 row-padding5">
                 <div class="contentRight">
                 <!--内容右边部分搜索 -->
                     <div class="contentRight-search">
                          <%= form_tag("/search",method:"get") do %>
                           <input type="text" class="search-input" autocomplete="off" placeholder="请输入要搜索的内容" >
                            <%= submit_tag "搜索", :class=>" btn btn-primary"%>
                          <%end%>
                     </div>
                     <!--内容右边部分广告1 -->
                     <div class="contentRight-ad ad-picture">
                         <a href="https://www.wgtong.cn/sign_up" title="文广通">
                             <img src="http://wgtong.cn/ckeditor_assets/pictures/1272/original_123.jpg" class="img-responsive">
                         </a>
                     </div>
                     <!--内容右边部分文化列表1 -->
                     <div class="contentRight-culturelist">
                       <% @message.limit(3).find_each do |message| %>                          
                           <div class="row">
                             <% Picture.where(message_id: message.id).limit(1).each do |picture| %>  
                                <div class="col-md-6 ">
                                    <a href="https://www.wgtong.cn/frontend/pruducts/640" title="<%=message.title%>"><img src="<%=picture.pic%>"  class="img2"></a>
                                </div>
                                <% end %>
                                <div class="col-md-6 ">
                                    <a href="https://www.wgtong.cn/frontend/pruducts/640" title="<%=message.title%>" class="text-color"><%=message.title%></a>
                                </div>
                           </div>
                           <hr class='content-line'></hr>           
                       <% end %>
                     </div>
                     <!--内容右边部分广告2 -->
                     <div class="contentRight-ad1 ad-picture1">
                        <a href="https://www.wgtong.cn/sign_up" title="文广通">
                            <img src="http://s.tanmer.cn/qgm5" class="img-responsive">
                        </a>
                     </div>
                     <!--内容右边部分文化列表2 -->
                     <div class="contentRight-culturelist">
                         <% @message.offset(3).find_each do |message| %>
                            <div class="row ">
                            
                                <div class="col-md-6">
                                <a href="https://www.wgtong.cn/frontend/pruducts/640" title="<%=message.title%>" class="text-color"><%=message.title%></a>
                                </div>
                                <% Picture.where(message_id: message.id).limit(1).each do |picture| %> 
                                <div class="col-md-6">
                                        <a href="https://www.wgtong.cn/frontend/pruducts/640" title="<%=message.title%> " ><img src="<%=picture.pic%>" class="img2"></a>
                                </div>
                                <%end%>
                            </div>
                            <hr class='content-line'></hr>
                            <% end %>
                            <div class="culturelist-link">
                                <a href="/new" title="文广通,更多咨询">>>点击查看更多新闻咨询<a>
                            </div>
                    </div>
                    <!--内容右边部分广告3 -->
                    <div class="contentRight-ad2 ad-picture1">
                        <a href="https://www.wgtong.cn/sign_up" title="文广通">
                            <img src="http://www.wgtong.cn/ckeditor_assets/pictures/789/original_original_400x576-chengdu.png" class="img-responsive">
                        </a>
                    </div>
                    <!--内容右边部分文化列表3 -->
                    <div class="contentRight-culturelist">
                        <h4 >更多帮助</h4>
                        <div class="row ">
                            <div class="col-md-6 row-margin">
                            <a href="https://www.wgtong.cn/frontend/pruducts/640" title="服务项目 ">服务项目 </a>
                            </div>
                            <div class="col-md-6 row-margin">
                                <a href="https://www.wgtong.cn/frontend/pruducts/640" title="使用帮助 ">使用帮助</a>
                            </div>
                            <div class="col-md-6 row-margin">
                            <a href="https://www.wgtong.cn/frontend/pruducts/640" title="联系我们">联系我们 </a>
                            </div>
                            <div class="col-md-6 row-margin">
                                <a href="https://www.wgtong.cn/frontend/pruducts/640" title="入驻合作">入驻合作</a>
                            </div>                           
                        </div>                       
                    </div>
                    <!--内容右边部分文化列表4 -->
                    <div class="contentRight-culturelist">
                        <h4 >更多帮助</h4> 
                        <p><a href="https://www.wgtong.cn/frontend/pruducts/640" title="© 2017 公众文化大数据">© 2017 公众文化大数据 </a></p>
                        <p><a href="https://www.wgtong.cn/frontend/pruducts/640" title="违法和不良信息举报：12377">违法和不良信息举报：12377 </a></p>
                            
                        <p><a href="https://www.wgtong.cn/frontend/pruducts/640" title="用户评论服务协议 ">用户评论服务协议</a></p>
                        
                        <p><a href="https://www.wgtong.cn/frontend/pruducts/640" title="成都世联广慧科技有限公司">成都世联广慧科技有限公司</a></p>
                            
                        <div class="row ">
                            
                        <div class="col-md-6">
                             <img src="http://s.tanmer.cn/qgm6" class="img-responsive" alt="文广通,微信公众号二维码">
                        </div> 
                        <div class="col-md-6">
                           <img src="http://s.tanmer.cn/qgm6" class="img-responsive" alt="文广通,微信公众号二维码">
                        </div>                          
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--文化底部内容 -->
<div class="footer">
     <div class="container">
          <div class="foot-content">
               <div class="foot-pic">
                 <a href="/" title="给你想要的文化生活">
                    <img src="http://www.wgtong.cn/ckeditor_assets/pictures/928/original_2.png" class="img-responsive" alt="文广通foot-logo">
                 </a>
               </div>
               <p>给您享要的文化生活</p>
               <p class="foot-link">© 2017 <a href="javascript;:">公众文化大数据</a>. 电子邮件: <a href="mailto.tang@wgtong.cn">tang@wgtong.cn</a> </p>
          </div>
     </div>

   
</div>

<script type='text/javascript'>

(function(m, ei, q, i, a, j, s) {
    m[i] = m[i] || function() {
        (m[i].a = m[i].a || []).push(arguments)
    };
    j = ei.createElement(q),
        s = ei.getElementsByTagName(q)[0];
    j.async = true;
    j.charset = 'UTF-8';
    j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
    s.parentNode.insertBefore(j, s);
})(window, document, 'script', '_MEIQIA');
_MEIQIA('entId', 95893);




</script>