<%=render 'header'%>
<div class="contain clearfix">
	<div class="course-list clearfix">
		<div class="course-title clearfix">
			<h3>最新课程</h3>
			<p >
			  <a href="">更多>></a>
			</p>
		</div>
		
		<ul class="clearfix">
			<li> 
				<div class="" >
					<a href="" >
						<%=image_tag("2119946900.jpg",class:"img1")%>
					</a>
				</div>
				<div class="text-box" style="height:120px">
					<div class="title">
						<a href="table.html">肚皮舞</a>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
								<span class="tag-item">课程类型</span>
								<span class="tag-item">舞蹈</span>
						</div>
						<div class="right">
								<span class="tag-item">年龄限制</span>
								<span class="tag-item">2-4岁</span>
						</div>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
							
								<span class="tag-item">任课老师</span>
								<span class="tag-item">小红</span>
							
						</div>
						<div class="right">
							
								<span class="tag-item">性别限制</span>
								<span class="tag-item">女生</span>
							
						</div>
					</div>	 
				</div>
			</li>
			<li> 
				<div class="" >
					<a href="" >
						<%=image_tag("2119946900.jpg",class:"img1")%>
					</a>
				</div>
				<div class="text-box" style="height:120px">
					<div class="title">
						<a href=“”>肚皮舞</a>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
								<span class="tag-item">课程类型</span>
								<span class="tag-item">舞蹈</span>
						</div>
						<div class="right">
								<span class="tag-item">年龄限制</span>
								<span class="tag-item">2-4岁</span>
						</div>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
							
								<span class="tag-item">任课老师</span>
								<span class="tag-item">小红</span>
							
						</div>
						<div class="right">
							
								<span class="tag-item">性别限制</span>
								<span class="tag-item">女生</span>
							
						</div>
					</div>	 
				</div>
			</li>
			<li> 
				<div class="" >
					<a href="" >
						<%=image_tag("2119946900.jpg",class:"img1")%>
					</a>
				</div>
				<div class="text-box" style="height:120px">
					<div class="title">
						<a href=“”>肚皮舞</a>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
								<span class="tag-item">课程类型</span>
								<span class="tag-item">舞蹈</span>
						</div>
						<div class="right">
								<span class="tag-item">年龄限制</span>
								<span class="tag-item">2-4岁</span>
						</div>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
							
								<span class="tag-item">任课老师</span>
								<span class="tag-item">小红</span>
							
						</div>
						<div class="right">
							
								<span class="tag-item">性别限制</span>
								<span class="tag-item">女生</span>
							
						</div>
					</div>	 
				</div>
			</li>
			<li> 
				<div class="" >
					<a href="" >
						<%=image_tag("2119946900.jpg",class:"img1")%>
					</a>
				</div>
				<div class="text-box" style="height:120px">
					<div class="title">
						<a href=“”>肚皮舞</a>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
								<span class="tag-item">课程类型</span>
								<span class="tag-item">舞蹈</span>
						</div>
						<div class="right">
								<span class="tag-item">年龄限制</span>
								<span class="tag-item">2-4岁</span>
						</div>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
							
								<span class="tag-item">任课老师</span>
								<span class="tag-item">小红</span>
							
						</div>
						<div class="right">
							
								<span class="tag-item">性别限制</span>
								<span class="tag-item">女生</span>
							
						</div>
					</div>	 
				</div>
		    </li>
			<li> 
				<div class="" >
					<a href="" >
						<%=image_tag("2119946900.jpg",class:"img1")%>
					</a>
				</div>
				<div class="text-box" style="height:120px">
					<div class="title">
						<a href=“”>肚皮舞</a>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
								<span class="tag-item">课程类型</span>
								<span class="tag-item">舞蹈</span>
						</div>
						<div class="right">
								<span class="tag-item">年龄限制</span>
								<span class="tag-item">2-4岁</span>
						</div>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
							
								<span class="tag-item">任课老师</span>
								<span class="tag-item">小红</span>
							
						</div>
						<div class="right">
							
								<span class="tag-item">性别限制</span>
								<span class="tag-item">女生</span>
							
						</div>
					</div>	 
				</div>
			</li>
			<li> 
				<div class="" >
					<a href="" >
						<%=image_tag("2119946900.jpg",class:"img1")%>
					</a>
				</div>
				<div class="text-box" style="height:120px">
					<div class="title">
						<a href=“”>肚皮舞</a>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
								<span class="tag-item">课程类型</span>
								<span class="tag-item">舞蹈</span>
						</div>
						<div class="right">
								<span class="tag-item">年龄限制</span>
								<span class="tag-item">2-4岁</span>
						</div>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
							
								<span class="tag-item">任课老师</span>
								<span class="tag-item">小红</span>
							
						</div>
						<div class="right">
							
								<span class="tag-item">性别限制</span>
								<span class="tag-item">女生</span>
							
						</div>
					</div>	 
				</div>
			</li>
			</li>
			<li> 
				<div class="" >
					<a href="" >
						<%=image_tag("2119946900.jpg",class:"img1")%>
					</a>
				</div>
				<div class="text-box" style="height:120px">
					<div class="title">
						<a href=“”>肚皮舞</a>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
								<span class="tag-item">课程类型</span>
								<span class="tag-item">舞蹈</span>
						</div>
						<div class="right">
								<span class="tag-item">年龄限制</span>
								<span class="tag-item">2-4岁</span>
						</div>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
							
								<span class="tag-item">任课老师</span>
								<span class="tag-item">小红</span>
							
						</div>
						<div class="right">
							
								<span class="tag-item">性别限制</span>
								<span class="tag-item">女生</span>
							
						</div>
					</div>	 
				</div>
			</li>
			<li> 
				<div class="" >
					<a href="" >
						<%=image_tag("2119946900.jpg",class:"img1")%>
					</a>
				</div>
				<div class="text-box" style="height:120px">
					<div class="title">
						<a href=“”>肚皮舞</a>
					</div>
					<div class="clearfix margin-t">
						<div class="left">
								<span class="tag-item">课程类型</span>
								<span class="tag-item">舞蹈</span>
						</div>
						<div class="right">
								<span class="tag-item">年龄限制</span>
								<span class="tag-item">2-4岁</span>
						</div>
					</div>
					<div class="clearfix margin-t">
						<div class="left">							
								<span class="tag-item">任课老师</span>
								<span class="tag-item">小红</span>					
						</div>
						<div class="right">			
								<span class="tag-item">性别限制</span>
								<span class="tag-item">女生</span>
						</div>
					</div>	 
				</div>
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>
</div>