<div class="section-container bg-silver m-b-20 primary-content order">
  <!-- BEGIN container -->
  <div class="container">
      <!-- BEGIN search-container -->
    <div class="search-container">
      <!-- BEGIN search-content -->
      <%= form_for :search, url: agent_orders_path, method: :get do |f| %>
      <div class="search-content">
        <!-- BEGIN search-toolbar -->
        <div class="search-toolbar">
          <!-- BEGIN row -->
          <div class="row">
            <!-- BEGIN col-6 -->
            <div class="col-md-6">
              <h4>订单列表
              <% if params[:search].present? %>
                <span>: 搜索出 <%= @orders.size %> 订单</span>
              <% end %>
              </h4>
            </div>
            <!-- END col-6 -->
            <!-- BEGIN col-6 -->
            <div class="col-md-6 text-right">
              <ul class="sort-list">
                <li class="text"><i class="fa fa-filter"></i> 排序方式:</li>
                <li class="<%= 'sign active' unless params[:reorder].present? %>">
                  <%= link_to '默认', agent_orders_path %>
                </li>
                <li class="<%= 'sign' if params[:reorder] == 'price' %>">
                  <%= link_to '价格', agent_orders_path+"?reorder=price" %>
                </li>
                <li><button class="btn btn-default" type="submit" name="csv" value="scv">导出订单</button></li>
              </ul>
            </div>
            <!-- END col-6 -->
          </div>
          <!-- END row -->
        </div>
        <!-- END search-toolbar -->
        <!-- BEGIN container -->
        <div class="search-item-container container-list">
          <div class="panel panel-forum">
            <!-- list -->
            <ul class="forum-list forum-topic-list">
              <% @orders.each do |order| %>
                <li data-url="<%= (Settings.project.sxhop? || Settings.project.imolin? || Settings.project.wgtong?) ? agent_order_path(order) : '#'%>" class="link-li">
                  <!-- begin media -->
                  <div class="media">
                    <% if Settings.project.imolin? || Settings.project.sxhop? || Settings.project.wgtong? %>
                      <%= image_tag order.products.first.first_image, height: '50px' %>
                    <% else %>
                      <%= image_tag 'no-picture.png' %>
                    <% end %>
                  </div>
                  <!-- end media -->
                  <!-- begin info-container -->
                  <div class="info-container" style="height:65px">
                    <div class="info">
                      <h4 class="title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        <%= order.description.slice(0, 10) unless order.description.blank? %><%= '...' unless order.description.blank? %>
                      </h4>
                      <ul class="info-start-end">
                        <li class="row">
                          <div class="col-xs-6">
                            订单编号：
                            <span><%= order.code %></span>
                          </div>
                          <div class="col-xs-6">
                            客户：
                            <a href="javascript:void(0)" style="text-decoration: none;">
                              <% if Settings.project.sxhop? || Settings.project.imolin? || Settings.project.wgtong? %>
                                <%= order.user.try(:nickname) %>
                              <% else %>
                                <%= order.try(:member).try(:name)%>
                              <% end%>
                            </a>
                          </div>
                          <div class="col-xs-6">
                            
                            <% if Settings.project.sxhop?  || Settings.project.imolin?%>
                              物流:
                              <%= order.order_deliveries.first.logistics_name + '(' + order.order_deliveries.first.logistics_number + ')' unless order.order_deliveries.first.try(:logistics_name).blank? %>
                            <% elsif Settings.project.grand? %>
                              物流:
                              <% unless order.order_deliveries.blank? %>
                                  <strong class=" text-primary"><%= order.order_deliveries.first.try{ logistics.map{|log| log.delivery.name + "(" + log.delivery.phone_number.to_s + ")"}.join(" | ") } %></strong>
                              <% end %>
                            <% elsif Settings.project.wgtong? %>
                              产品：
                              <%= order.products.first.try(:name) %>
                            <% end %>
                          </div>
                          <div class="col-xs-6">
                            <% if Settings.project.wgtong? %>
                            订单总价：
                            <span class="text-danger"><%= order.price.to_f / 100 %></span>
                            <% else %>
                            订单总价(含运费)：
                            <span class="text-danger"><%= order.price.to_f / 100 %></span>
                            <% end %>
                          </div>
                        </li>
                        <% if Settings.project.sxhop? || Settings.project.imolin? || Settings.project.meikemei? %>
                          <li class="row">
                            <div class="col-xs-6">
                              订单状态:
                              <span class="btn-info btn-sm"><%= decorate(order).display_status %></span>
                            </div>
                            <div class="col-xs-6">
                              <% if order.refund_status %>
                                退款状态:
                                <span class="btn-warning btn-sm"><%= decorate(order).display_refund_status %></span>
                              <% end %>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                    <div class="date-replies">
                      <div class="time">
                        <%= order.created_at.strftime("%Y-%m-%d") %>
                      </div>
                      <div class="time">
                        <%= order.created_at.strftime("%H:%M:%S") %>
                      </div>
                      <div class="order-status-display">
                        <% if Settings.project.sxhop? || Settings.project.imolin? %>
                          <!-- sxhop -->

                        <% else %>
                          <!-- dagle -->
                          <% if order.cancelled? %>
                            <span class="label label-warning" style="padding: 8px 10px">
                              <%= decorate(order).display_status %>
                            </span>
                          <% elsif order.internal_status == 'delivering' %>
                            <%= link_to '点击确认收货', agent_order_path(order), method: :put, remote: true, data: {confirm: '确定收货吗?'}, class: 'label label-danger order-status', style: 'padding: 8px 10px' %>
                          <% else %>
                            <span class="label label-info" style="padding: 8px 10px">
                              <%= decorate(order).display_status %>
                            </span>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <!-- end info-container -->
                </li>
              <% end %>
            </ul>
            <!-- list -->
          </div>
        </div>
        <!-- END container -->

        <!-- BEGIN pagination -->
        <div class="text-center">
          <%= paginate @orders %>
        </div>
        <!-- END pagination -->
      </div>
      <% end %>
      <!-- END search-content -->
      <!-- BEGIN search-sidebar -->
      <div class="search-sidebar">
          <h4 class="title">查询</h4>
          <%= form_for :search, url: agent_orders_path, method: :get do |f| %>
            <div class="form-group">
              <label class="control-label">关键字</label>
              <%= f.text_field :keywords, value: (params[:search][:keywords] if params[:search]), placeholder: '输入查询关键字', class: 'form-control input-sm' %>
            </div>
            <div class="form-group">
              <label class="control-label">价格</label>
              <div class="row row-space-0">
                  <div class="col-md-5">
                    <%= f.text_field :price_from, type: 'number', value: (params[:search][:price_from].to_f / 100 if params[:search]),class: 'form-control input-sm', min: '0' %>
                  </div>
                  <div class="col-md-2 text-center p-t-5 f-s-12 text-muted">～</div>
                  <div class="col-md-5">
                    <%= f.text_field :price_to, type: 'number', value: (params[:search][:price_to].to_f / 100 if params[:search]),class: 'form-control input-sm', min: '0' %>
                  </div>
              </div>
            </div>
            <div class="m-b-30">
              <button type="submit" class="btn btn-sm btn-inverse"><i class="fa fa-search"></i> 查询</button>
            </div>
          <% end %>
      </div>
      <!-- END search-sidebar -->
    </div>
    <!-- END search-container -->
  </div>
  <!-- END container -->
</div>
<script type="text/javascript">
  $(function() {
    $('.agent-orders.index li.link-li').on('click', function(){
      window.location.href = $(this).data('url')
    })
  })
</script>
