<% @cms_channels.each do |p_channel| %>
  <!-- begin panel-forum -->
  <div class="panel panel-forum">
      <!-- begin panel-heading -->
      <div class="panel-heading">
          <h4 class="panel-title"><%= p_channel.title %> <small> /<%= p_channel.short_title %></small></h4>
      </div>
      <!-- end panel-heading -->
      <!-- begin forum-list -->
      <ul class="forum-list">
          <li>
              <!-- begin media -->
              <div class="media">
                <i class="fa fa-file"></i>
              </div>
              <!-- end media -->
              <!-- begin info-container -->
              <div class="info-container">
                  <div class="info">
                      <h4 class="title">
                        <%= link_to cms_site_channel_path(@cms_site, p_channel) do %>
                          <%= p_channel.title %> / <%= p_channel.short_title %>
                        <% end %>
                      </h4>
                      <p class="desc">
                        <%= p_channel.description %>
                      </p>
                  </div>
                  <div class="total-count">
                      <span class="total-post"><%= p_channel.pages.count %></span><span class="divider">/</span><span class="total-comment"><%= Cms::Page.count %></span>
                  </div>
                  <div class="latest-post">
                    <p class="time">最后更新： <a href="#" class="user">agent</a></p>
                    <% p_channel.pages.order("updated_at DESC").limit(2).each do |l_page| %>
                      <h4 class="title">
                        <i class="fa fa-dot-circle-o"></i>
                        <%= link_to l_page.title, edit_cms_site_channel_page_path(@cms_site, p_channel, l_page) %>
                      </h4>
                    <% end %>

                  </div>
              </div>
              <!-- end info-container -->
          </li>
          <% p_channel.children.each do |channel| %>
          <li>
              <!-- begin media -->
              <div class="media">
                <i class="fa fa-folder-open"></i>
              </div>
              <!-- end media -->
              <!-- begin info-container -->
              <div class="info-container">
                  <div class="info">
                      <h4 class="title"><%= link_to cms_site_channel_path(@cms_site, channel) do %>
                          <%= channel.title %> / <%= channel.short_title %><% end %></h4>
                      <p class="desc">
                        <%= channel.description %>
                      </p>
                  </div>
                  <div class="total-count">
                      <span class="total-post"><%= channel.pages.count %></span><span class="divider">/</span><span class="total-comment"><%= Cms::Page.count %></span>
                  </div>
                  <div class="latest-post">
                    <p class="time">最后更新： <a href="#" class="user">agent</a></p>
                    <% channel.pages.order("updated_at DESC").limit(2).each do |l_page| %>
                      <h4 class="title">
                        <i class="fa fa-dot-circle-o"></i>
                        <%= link_to l_page.title, edit_cms_site_channel_page_path(@cms_site, channel, l_page) %>
                      </h4>
                    <% end %>
                  </div>
              </div>
              <!-- end info-container -->
          </li>
          <% end %>
      </ul>
      <!-- end forum-list -->
  </div>
  <!-- end panel-forum -->
<% end %>
