<%= render file: @cms_site.template_dir + '_header.html.erb' %>
<div class="container">
  <div class="tr-content">
    <div class="row">
      <div class="col-sm-8 col-md-9 tr-sticky">
        <div class="theiaStickySidebar">
          <div class="breadcrumbs">
            <a href="/">首页</a>
            <span>/&nbsp;</span>视频库
            <div class="post-counter">
              <span class="count-number"><%= @product.size %></span>
              <span class="count-text">总量</span>
            </div>
          </div>
          <div class="blog-list masonry clearfix">
            <div class="row">
              <!-- 所有视频遍历点 -->
              <% @product.each do |product| %>
              <div class="col-sm-6 col-md-4">
                <div class="masonry-item clearfix">
                  <div class="blog-mask">
                    <%= link_to(frontend_product_path(product), class: "blog-format-image-hover") do  %>
                      <i class="fa fa-play-circle-o fa-3x"></i>
                    <% end %>

                    <div class="blog-image">
                      <% if product.price.to_i == 0 %>
                        <span class="blog-format-audio" style="background-color: #5cb85c;padding: 0px 5px;">免费</span>
                      <% end %>
                      <% if product.image_items.size.to_i >= 1 %>
                        <%= image_tag(product.image_items.first.medium_image_url)%>
                      <% else %>
                        <%= image_tag('/templetes/eqxiyi/images/a1.jpg')%>
                      <% end %>
                    </div>
                  </div>
                  <div class="blog-list-desc">
                    <!-- 标签 <span class="categories">
                      Graphic Design
                    </span> -->
                    <h4>
                      <%= link_to product.name, frontend_product_path(product) %>
                      <span style="padding: 0 6px;letter-spacing: 1px;text-transform: uppercase;display: inline-block;z-index: 3;background: #f08300;color: #FFF;font-size: 11px;line-height: 18px;border-radius: 4px;">
  											<i class="fa fa-clock-o m-l-5"></i>
  											<%= product.service_time %>
  										</span>
                    </h4>
                    <label>
                      <span>现:&nbsp; ￥<%= product.price / 100 %></span>
                      [<i style="text-decoration: line-through;">￥<%= product.old_price / 100 %></i>]
                      <span style="display: inline-block; margin-left:50px;">单数:&nbsp;</span><%= product.month_number %>
                    </label>
                    <p><%= product.description %></p>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="page-banner">
              <img src="" alt="观看更多视频" class="img-responsive">
          </div>
          <!-- Pagination -->
          <div class="pagination clearfix">
            <ul class="page-numbers">
              <li><span class="page-numbers current">1</span></li>
              <li><a class="page-numbers" href="#">2</a></li>
              <li><a class="next page-numbers" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <%= render file: @cms_site.template_dir + '_sidebar.html.erb' %>
    </div>
  </div>
</div>
<%= render file: @cms_site.template_dir + '_footer.html.erb' %>
