<% @search_results.each do |result| %>
  <div class="tr-post">
    <div class="entry-header">
      <div class="entry-thumbnail">
        <a href="<%= get_cms_url(result) %>"><img class="img-responsive" src="<%= result.image_path %>" alt="<%= result.title %>"></a>
      </div>
    </div>
    <div class="post-content">
      <div class="author">
        <a href="javascript:void(0)"><img class="img-responsive img-circle" src="/templetes/newshub/images/others/user.png" alt="Image"></a>
      </div>
      <div class="entry-meta">
        <ul>
          <li><a href="<%= get_cms_url(result) %>"><i class="fa fa-clock-o"></i> <%= distance_of_time_in_words_to_now(result.updated_at) %>前</a></li>
          <li><a href="<%= get_cms_url(result) %>"><i class="fa fa-eye"></i> <%= result.impressions_count %>阅读</a></li>
          <li><a href="<%= get_cms_url(result) %>"><i class="fa fa-comments-o"></i> <%= Cms::Comment.where(source_id: result.id).size %>评论</a></li>
          <li>
            <div class="bdsharebuttonbox" data-tag="share_1">
              <a class="bds_qzone" data-cmd="qzone"></a>
              <a class="bds_tsina" data-cmd="tsina"></a>
              <a class="bds_sqq" data-cmd="sqq"></a>
              <a class="bds_weixin" data-cmd="weixin"></a>
            </div>
          </li>
        </ul>
      </div>
      <h2 class="entry-title">
        <%= link_to result.title, get_cms_url(result), :class => 'replace_text' %>
      </h2>
    </div>
  </div>
<% end %>
