<div class="theiaStickySidebar">
  <% @search_results.each do |site| %>
    <div class="tr-section">
      <div class="section-title title-before">
        <h1>
          <a href="javascript:void(0)"><%= site.properties.map{|p| ::Site::PROPERTIES[p.to_sym]}.compact.join('，') %></a>
        </h1>
      </div>
      <div class="tr-post">
        <div class="entry-header">
          <div class="entry-thumbnail">
            <a href="<%= frontend_site_path(site) %>"><img class="img-responsive" src="<%= site.first_image %>" alt="<%= site.title %>"></a>
          </div>
        </div>
        <div class="post-content">
          <div class="author">
            <a href="javascript:void(0)"><img class="img-responsive img-circle" src="/templetes/newshub/images/others/user.png" alt="Image"></a>
          </div>
          <div class="entry-meta">
            <ul>
              <li><a href="/frontend/sites/<%= site.id %>"><i class="fa fa-clock-o"></i> <%= distance_of_time_in_words_to_now(site.updated_at) %>前</a></li>
              <li><a href="/frontend/sites/<%= site.id %>"><i class="fa fa-eye"></i> <%= site.visits_count %>阅读</a></li>
              <li><a href="/frontend/sites/<%= site.id %>"><i class="fa fa-comments-o"></i> <%= site.comments_count %>评论</a></li>
            </ul>
          </div><!-- /.entry-meta -->
          <h2 class="entry-title">
            <%= link_to site.title, frontend_site_path(site) %>
          </h2>
          
          <div class="read-more">
            <div class="continue-reading pull-left">
              <a href="<%= frontend_site_path(site) %>">了解更多 <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="feed pull-right">
              <ul>
                <div class="bdsharebuttonbox" data-tag="share_1">
                  <a class="bds_qzone" data-cmd="qzone"></a>
                  <a class="bds_tsina" data-cmd="tsina"></a>
                  <a class="bds_sqq" data-cmd="sqq"></a>
                  <a class="bds_weixin" data-cmd="weixin"></a>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
