<div class="main-wrapper">
	<%= render file: 'public/templetes/newshub/_header.html.erb' %>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 tr-sidebar tr-sticky">
				<%= render file: 'public/templetes/newshub/_side_menu.html.erb' %>
			</div>
      <!-- search_results 搜索结果 -->
			<div class="col-sm-6">
        <div class="tr-content">
          <div class="tr-section ">
            <div class="section-title">
							<h1><a href="javascript:void(0)"> <i class="fa fa-th" aria-hidden="true"></i> 搜索结果</a></h1>
						</div>
            <% if @search_results.any? %>
	            <h3>
                <i class="fa fa-smile-o"></i>找到
                <span class="faild-text"><%= @search_results.size %></span>条与
                <span class="faild-text"><%= params[:search][:keywords] %></span>相关内容
              </h3>
            <% else %>
              <h3 style="margin-bottom: 30px;font-weight: 300;">
                <i class="fa fa-frown-o"></i>抱歉：暂无
                <span class="faild-text">
                  <%= params[:search][:keywords] %>
                </span>相关内容
              </h3>
              <%= form_for :search, url: search_result_path, method: :get, class: 'btn-input' do |f| %>
                <%= f.text_field :keywords, value: params[:search]&&params[:search][:keywords], class: 'form-control', autocomplete: "off", placeholder: '请输入关键词，回车开始搜索' %>
              <% end %>
            <% end %>
            <div style="margin-top: 30px;margin-bottom: 30px;">
              <span>分类筛选：</span>
              <a href="<%= search_result_path(type: 'cms_pages', search: params[:search]) %>" class="btn <%= params[:type] == nil || params[:type] == 'cms_pages' ? 'btn-danger disabled' : 'btn-default' %>">新闻阅读</a>
              <a href="<%= search_result_path(type: 'sites', search: params[:search]) %>" class="btn <%= params[:type] == 'sites' ? 'btn-danger disabled' : 'btn-default' %>">场馆信息</a>
              <a href="<%= search_result_path(type: 'products', search: params[:search]) %>" class="btn <%= params[:type] == 'products' ? 'btn-danger disabled' : 'btn-default' %>">活动信息</a>
            </div>
          </div>
        </div>

				<div class="tr-content">
					<div class="tr-section bg-transparent">

						<% if @search_results.any? %>
              <% if params[:type] == 'sites' %>
                <%= render file: 'frontend/search/_sites_search.html.erb' %>
              <% elsif params[:type] == 'products' %>
                <%= render file: 'frontend/search/_products_search.html.erb' %>
              <% else %>
                <%= render file: 'frontend/search/_cms_pages_search.html.erb' %>
              <% end %>
            <% else %>


            <% end %>
					</div>

					<% if Keystore.value_for('banner-index-center-center-773x84').present? %>
					<div class="tr-ad">
						<% banner_index_center_center = Keystore.value_for('banner-index-center-center-773x84').split('|') %>
						<a href="<%= banner_index_center_center[1] || 'javascript:void(0)' %>" targrt="_blank" ><img class="img-responsive" src="<%= banner_index_center_center[0] %>" alt="首页居中横幅"></a>
					</div>
					<% end %>

				</div>
        <div class="row text-center">
          <%= paginate @search_results, remote: true %>
        </div>
			</div>

			<div class="col-sm-3 tr-sidebar tr-sticky">
				<%= render file: 'public/templetes/newshub/_sidebar.html.erb' %>
			</div>
		</div>
	</div>
</div>
<%= render file: 'public/templetes/newshub/_footer.html.erb' %>
