<div class="main-wrapper">
  <%= render file: 'public/templetes/newshub/_header.html.erb' %>
	<div class="container-fluid container">
    <%= render file: 'public/templetes/newshub/_top_menu.html.erb' %>
    <div class="tr-breadcrumb">
			<div class="title pull-left">
				<h1><%= @product_catalog.name %></h1>
			</div>
      <ol class="breadcrumb pull-right">
        <li><a href="/">首页</a></li>
        <li class="active"><%= @product_catalog.name %></li>
      </ol>
		</div>
    <% if @products.empty? %>
      <div class="row tr-content">
        <div class="col-sm-9 col-md-9 tr-sticky">
          <div class="tr-section">
            <div class="row">
              <div class="col-md-12">
                <h3 class=text-center>
                  <p>
                    <span class="fa fa-frown-o" style="color: #9e9e9e; font-size: 40px; vertical-align: middle;"></span>
                  </p>
                  <p>
                    <span>温馨提示：<i class="text-danger" style="color: #e81a1b;">暂无分类信息</i></span>
                  </p>
                </h3>
              </div>
            </div>
          </div>
          <!-- 广告位 -->
          <% if Keystore.value_for('banner-product-center-center-773x84').present? %>
          <div class="tr-ad">
            <% banner_product_center_center = Keystore.value_for('banner-product-center-center-773x84').split('|') %>
            <a href="<%= banner_product_center_center[1] || 'javascript:void(0)' %>" target="_blank" ><img class="img-responsive" src="<%= banner_product_center_center[0] %>" alt="广告横幅773x84"></a>
          </div>
          <% end %>
        </div>

        <!-- sidebar -->
        <div class="col-sm-3 col-md-3 tr-sidebar tr-sticky">
          <%= render file: @cms_site.template_dir + '_sidebar.html.erb'  %>
        </div>
      </div>
    <% else %>
      <div class="row tr-content">
        <div class="col-sm-5 col-md-6 tr-sticky">
          <div class="theiaStickySidebar">
            <!-- 头条 -->
            <div class="tr-section">
              <div class="section-title title-before">
                <h1><a href="#">头条</a></h1>
              </div>
              <% Product.hot(2, catalog_id: @product_catalog.id).each do |product| %>
                <div class="tr-post">
                    <div class="entry-header">
                      <div class="entry-thumbnail">
                        <a href="<%= frontend_product_path(product) %>"><img class="img-responsive" src="<%= product.first_image %>" alt="Image"></a>
                      </div>
                    </div>
                    <div class="post-content">
                      <div class="author">
                        <a href="#"><img class="img-responsive img-circle" src="/templetes/newshub/images/others/user.png" alt="Image"></a>
                      </div>
                      <div class="entry-meta">
                        <ul>
                          <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-clock-o"></i> <%= distance_of_time_in_words_to_now(product.updated_at) %>前</a></li>
                          <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-eye"></i> <%= product.visits_count %>阅读</a></li>
                          <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-comments-o"></i> <%= product.comments_count %>评论</a></li>
                        </ul>
                      </div>
                      <h2 class="entry-title">
                        <%= link_to product.name, frontend_product_path(product) %>
                      </h2>
                      <p><%= product.description %>. </p>
                      <div class="read-more">
                        <div class="continue-reading pull-left">
                          <a href="<%= frontend_product_path(product) %>">阅读更多 <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="feed pull-right">
                          <ul>
                            <div class="bdsharebuttonbox" data-tag="share_1">
                              <a class="bds_qzone" data-cmd="qzone"></a>
                              <a class="bds_tsina" data-cmd="tsina"></a>
                              <a class="bds_sqq" data-cmd="sqq"></a>
                              <a class="bds_weixin" data-cmd="weixin"></a>
                            </div>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
            <!-- 广告位 -->
            <% if Keystore.value_for('banner-product-center-center-773x84').present? %>
            <div class="tr-ad">
              <% banner_product_center_center = Keystore.value_for('banner-product-center-center-773x84').split('|') %>
              <a href="<%= banner_product_center_center[1] || 'javascript:void(0)' %>" target="_blank" ><img class="img-responsive" src="<%= banner_product_center_center[0] %>" alt="广告横幅773x84"></a>
            </div>
            <% end %>
            <!-- 幻灯 -->
            <div class="tr-section post-vertical">
              <div class="section-title title-before">
                <h1><a href="javascript: void(0)">幻灯</a></h1>
              </div>
              <div class="tr-post">
                <div class="row">
                  <% Product.slider(1, catalog_id: @product_catalog.id).each do |product| %>
                    <div class="col-md-6">
                      <div class="entry-header">
                        <div class="entry-thumbnail">
                          <a href="<%= frontend_product_path(product) %>">
                            <img class="img-responsive" src="<%= product.first_image %>" alt="Image">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="post-content">
                        <div class="author">
                          <a href="javascript: void(0)">
                            <img class="img-responsive img-circle" src="/templetes/newshub/images/others/user.png" alt="Image">
                          </a>
                        </div>
                        <div class="entry-meta">
                          <ul>
                            <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-clock-o"></i> <%= distance_of_time_in_words_to_now(product.updated_at) %>前</a></li>
                            <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-eye"></i> <%= product.visits_count %>阅读</a></li>
                            <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-comments-o"></i> <%= product.comments_count %>评论</a></li>
                          </ul>
                        </div><!-- /.entry-meta -->
                        <h2 class="entry-title">
                          <a href="<%= frontend_product_path(product)  %>"><%= product.name %></a>
                        </h2>
                        <p><%= product.description %></p>
                        <div class="read-more">
                          <div class="continue-reading pull-left">
                            <a href="<%= frontend_product_path(product)  %>">阅读文件 <i class="fa fa-angle-right"></i></a>
                          </div>
                          <div class="feed pull-right">
                            <ul>
                              <div class="bdsharebuttonbox" data-tag="share_1">
                                <a class="bds_qzone" data-cmd="qzone"></a>
                                <a class="bds_tsina" data-cmd="tsina"></a>
                                <a class="bds_sqq" data-cmd="sqq"></a>
                                <a class="bds_weixin" data-cmd="weixin"></a>
                              </div>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <!-- 推荐 -->
            <div class="tr-section">
              <div class="section-title title-before">
                <h1><a href="#">站长推荐</a></h1>
              </div>
              <% Product.recommend(1, catalog_id: @product_catalog.id).each_with_index do |product, index| %>
                <div class="tr-post">
                  <div class="entry-header">
                    <div class="entry-thumbnail">
                      <a href="<%= frontend_product_path(product) %>">
                        <img class="img-responsive" src="<%= product.first_image %>" alt="Image">
                      </a>
                    </div>
                  </div>
                  <div class="post-content">
                    <div class="author">
                      <a href="javascript: void(0)">
                        <img class="img-responsive img-circle" src="/templetes/newshub/images/others/user.png" alt="Image">
                      </a>
                    </div>
                    <div class="entry-meta">
                      <ul>
                        <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-clock-o"></i> <%= distance_of_time_in_words_to_now(product.updated_at) %>前</a></li>
                        <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-eye"></i> <%= product.visits_count %>阅读</a></li>
                        <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-comments-o"></i> <%= product.comments_count %>评论</a></li>
                      </ul>
                    </div>
                    <h2 class="entry-title">
                      <a href="<%= frontend_product_path(product)  %>"><%= product.name %></a>
                    </h2>
                    <p><%= product.description %></p>
                    <div class="read-more">
                      <div class="continue-reading pull-left">
                        <a href="<%= frontend_product_path(product) %>">阅读更多 <i class="fa fa-angle-right"></i></a>
                      </div>
                      <div class="feed pull-right">
                        <ul>
                          <div class="bdsharebuttonbox" data-tag="share_1">
                            <a class="bds_qzone" data-cmd="qzone"></a>
                            <a class="bds_tsina" data-cmd="tsina"></a>
                            <a class="bds_sqq" data-cmd="sqq"></a>
                            <a class="bds_weixin" data-cmd="weixin"></a>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>

              <div class="medium-post-content row">
                <% Product.recommend(3, catalog_id: @product_catalog.id).each_with_index do |product, index| %>
                  <% next if index <= 0 %>
                  <% if index == 1 %>
                    <div class="col-md-6 left-post">
                      <div class="tr-post">
                        <div class="entry-header">
                          <div class="entry-thumbnail">
                            <a href="<%= frontend_product_path(product) %>">
                              <img class="img-responsive" src="<%= product.first_image %>" alt="Image">
                            </a>
                          </div>
                        </div>
                        <div class="post-content">
                          <div class="author">
                            <a href="javascript:void(0)">
                              <img class="img-responsive img-circle" src="/templetes/newshub/images/others/user.png" alt="Image">
                            </a>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-clock-o"></i> <%= distance_of_time_in_words_to_now(product.updated_at) %>前</a></li>
                              <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-eye"></i> <%= product.visits_count %>阅读</a></li>
                              <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-comments-o"></i> <%= product.comments_count %>评论</a></li>
                            </ul>
                          </div>
                          <h2 class="entry-title">
                            <a href="<%= frontend_product_path(product) %>"><%= product.name %></a>
                          </h2>
                          <p><%= product.description %></p>
                          <div class="read-more">
                            <div class="continue-reading pull-left">
                              <a href="<%= frontend_product_path(product) %>">阅读更多 <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="feed pull-right">
                              <ul>
                                <div class="bdsharebuttonbox" data-tag="share_1">
                                  <a class="bds_qzone" data-cmd="qzone"></a>
                                  <a class="bds_tsina" data-cmd="tsina"></a>
                                  <a class="bds_sqq" data-cmd="sqq"></a>
                                  <a class="bds_weixin" data-cmd="weixin"></a>
                                </div>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <% if index == 2 %>
                    <div class="col-md-6">
                      <div class="tr-post">
                        <div class="entry-header">
                          <div class="entry-thumbnail">
                            <a href="<%= frontend_product_path(product) %>">
                              <img class="img-responsive" src="<%= product.first_image %>" alt="Image">
                            </a>
                          </div>
                        </div>
                        <div class="post-content">
                          <div class="author">
                            <a href="javascript:void(0)">
                              <img class="img-responsive img-circle" src="/templetes/newshub/images/others/user.png" alt="Image">
                            </a>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-clock-o"></i> <%= distance_of_time_in_words_to_now(product.updated_at) %>前</a></li>
                            <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-eye"></i> <%= product.visits_count %>阅读</a></li>
                            <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-comments-o"></i> <%= product.comments_count %>评论</a></li>
                            </ul>
                          </div>
                          <h2 class="entry-title">
                            <a href="<%= frontend_product_path(product) %>"><%= product.name %></a>
                          </h2>
                          <p><%= product.description %></p>
                          <div class="read-more">
                            <div class="continue-reading pull-left">
                              <a href="<%= frontend_product_path(product) %>">阅读更多 <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="feed pull-right">
                              <ul>
                                <div class="bdsharebuttonbox" data-tag="share_1">
                                  <a class="bds_qzone" data-cmd="qzone"></a>
                                  <a class="bds_tsina" data-cmd="tsina"></a>
                                  <a class="bds_sqq" data-cmd="sqq"></a>
                                  <a class="bds_weixin" data-cmd="weixin"></a>
                                </div>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- 最近更新 -->
        <div class="col-sm-4 col-md-3 tr-sticky medium-post-responsive">
          <div class="theiaStickySidebar">
            <div class="tr-section">
              <div class="section-title title-before">
                <h1><a href="#">最近更新</a></h1>
              </div>
              <% @products.each_with_index do |product, index| %>
                <% next if index > 0 %>
                <div class="tr-post tr-video-post">
                  <div class="entry-header">
                    <a href="<%= frontend_product_path(product) %>">
                      <img class="img-responsive" src="<%= product.first_image %>" alt="Image">
                    </a>
                  </div>
                  <div class="post-content">
                    <div class="author">
                      <a href="javascript: void(0)">
                        <img class="img-responsive img-circle" src="/templetes/newshub/images/others/user.png" alt="Image">
                      </a>
                    </div>
                    <div class="entry-meta">
                      <ul>
                        <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-clock-o"></i> <%= distance_of_time_in_words_to_now(product.updated_at) %>前</a></li>
                        <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-eye"></i> <%= product.visits_count %>阅读</a></li>
                        <li><a href="/frontend/products/<%= product.id %>"><i class="fa fa-comments-o"></i> <%= product.comments_count %>评论</a></li>
                      </ul>
                    </div><!-- /.entry-meta -->
                    <h2 class="entry-title">
                      <a href="<%= frontend_product_path(product) %>"><%= product.name %></a>
                    </h2>
                    <p><%= product.description %></p>
                    <div class="read-more">
                      <div class="continue-reading pull-left">
                        <a href="<%= frontend_product_path(product) %>">阅读更多 <i class="fa fa-angle-right"></i></a>
                      </div>
                      <div class="feed pull-right">
                        <ul>
                          <div class="bdsharebuttonbox" data-tag="share_1">
                            <a class="bds_qzone" data-cmd="qzone"></a>
                            <a class="bds_tsina" data-cmd="tsina"></a>
                            <a class="bds_sqq" data-cmd="sqq"></a>
                            <a class="bds_weixin" data-cmd="weixin"></a>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div><!-- /.post-content -->
                </div>
              <% end %>
              <ul class="small-post-list">
                <% @products.each_with_index do |product, index| %>
                  <% next if index <= 0 %>
                  <li class="prodCatalogLi">
                    <% if product.image_items.presence %>
                      <div class="entry-header wihi-100">
                        <div class="entry-thumbnail">
                          <a href="<%= frontend_product_path(product) %>">
                            <img class="img-responsive" src="<%= product.image_items.first.try(:image_url) %>" alt="Image">
                          </a>
                        </div>
                      </div>
                    <% end %>
                    <div class="post-content media-body">
                      <div class="entry-meta">
                        <ul>
                          <li>By <a href="javascript: void(0)"><%= @product_catalog.name %></a></li>
                        </ul>
                      </div>
                      <h2 class="entry-title">
                        <a href="<%= frontend_product_path(product) %>"><%= product.name %></a>
                        <br/>
                        <small><%= product.description.truncate(20) %></small>
                      </h2>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>

            <% if Keystore.value_for('banner-product-right-center-400×576').present? %>
            <div class="tr-section tr-ad ad-before">
              <% banner_product_right_center = Keystore.value_for('banner-product-right-center-400×576').split('|') %>
              <a href="<%= banner_product_right_center[1] || 'javascript:void(0)' %>" target="_blank" >
                <img class="img-responsive" src="<%= banner_product_right_center[0] %>" alt="广告横幅400×576"></a>
            </div>
            <% end %>

            <!-- 本地活动 -->
            <div class="tr-section local-events">
              <div class="section-title title-before">
                <h1><a href="#">本地活动</a></h1>
              </div>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#time1" data-toggle="tab">正在进行</a>
                </li>
                <li role="presentation">
                  <a href="#time2" data-toggle="tab">马上开始</a>
                </li>
              </ul>
              <div class="tab-content">
                <% @products.where("features ->> 'status'=?",'open').reorder("updated_at desc").limit(1).each do |page| %>
                  <div role="tabpanel" class="tab-pane active fade in" id="time1">
                    <div class="tr-post">
                      <div class="entry-header">
                        <div class="entry-thumbnail">
                          <a href="<%= frontend_product_path(page) %>">
                            <img class="img-responsive" src="<%= page.first_image %>" alt="Image">
                          </a>
                        </div>
                      </div>
                      <div class="post-content">
                        <div class="entry-meta">
                          <ul>
                            <li><%= @product_catalog.name  %></li>
                            <li><%= page.time %></li>
                            <li><%= page.date %></li>
                          </ul>
                        </div>
                        <h2 class="entry-title">
                          <a href="<%= frontend_product_path(page) %>"><%= page.name %></a>
                        </h2>
                      </div>
                    </div>
                    <span><%= page.description.to_s.truncate(20) %></span>
                  </div>
                <% end %>

                <% @products.where("features ->> 'status'=?",'pending').reorder("updated_at desc").limit(1).each do |page| %>
                  <div role="tabpanel" class="tab-pane fade in" id="time2">
                    <div class="tr-post">
                      <div class="entry-header">
                        <div class="entry-thumbnail">
                          <a href="<%= frontend_product_path(page) %>">
                            <img class="img-responsive" src="<%= page.first_image %>" alt="Image">
                          </a>
                        </div>
                      </div>
                      <div class="post-content">
                        <div class="entry-meta">
                          <ul>
                            <li><%= @product_catalog.name  %></li>
                            <li><%= page.time["4"] %>:<%= page.time["5"] %></li>
                            <li><%= page.date %></li>
                          </ul>
                        </div>
                        <h2 class="entry-title">
                          <a href="<%= frontend_product_path(page) %>"><%= page.name %></a>
                        </h2>
                      </div>
                    </div>
                    <span><%= page.description %></span>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>

        <!-- sidebar -->
        <div class="col-sm-3 tr-sidebar tr-sticky">
          <%= render file: @cms_site.template_dir + '_sidebar.html.erb'  %>
        </div>

      </div>
    <% end %>
    <% if Keystore.value_for('banner-product-bottom-center-819×119').present? %>
		<div class="tr-ad ad-bottom ad-image text-center">
      <% banner_product_bottom_center = Keystore.value_for('banner-product-bottom-center-819×119').split('|') %>
			<a href="<%= banner_product_bottom_center[1] || 'javascript:void(0)' %>" target="_blank" ><img class="img-responsive" src="<%= banner_product_bottom_center[0] %>" alt="广告横幅819×119"></a>
		</div>
    <% end %>

	</div>
</div>
<%= render file: 'public/templetes/newshub/_footer.html.erb' %>
