<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 5px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-text title-cneter-p" style="display: inline-block;">活动信息</p>
      <a class="navbar-brand" href="#">
        <%#= image_tag '/templetes/newshub/images/footer-logo1.png', style: 'height: 20px;' %>
        龙泉文化
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to '新闻资讯', '/wechart'%>
        </li>
        <li class="active">
          <%= link_to '活动报名',  wechat_products_frontend_product_catalogs_path %>
        </li>
        <li>
          <%= link_to '场馆信息', wechat_sites_frontend_site_catalogs_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="panel panel-default top-tabs-block">
  <div class="list-group-item screen-list">

    <label class="<%= params[:type] == nil ? 'active' : '' %>">
      <a href="<%= wechat_products_frontend_product_catalogs_path %>">
        <small>全部</small>
      </a>
    </label>
    <label class="<%= params[:type] == 'pending' ? 'active' : '' %>">
      <a href="<%= wechat_products_frontend_product_catalogs_path(type: 'pending') %>">
        <small>未开始</small>
      </a>
    </label>
    <label class="<%= params[:type] == 'open' ? 'active' : '' %>">
      <a href="<%= wechat_products_frontend_product_catalogs_path(type: 'open') %>">
        <small>进行中</small>
      </a>
    </label>
    <label class="<%= params[:type] == 'completed' ? 'active' : '' %>">
      <a href="<%= wechat_products_frontend_product_catalogs_path(type: 'completed') %>">
        <small>已售完</small>
      </a>
    </label>
    <label class="<%= params[:type] == 'closed' ? 'active' : '' %>">
      <a href="<%= wechat_products_frontend_product_catalogs_path(type: 'closed') %>">
        <small>已结束</small>
      </a>
    </label>
  </div>
</div>
<div class="list-group custom-list">
  <% @products.each do |product|%>
    <a href='<%= frontend_wechat_product_path(id: product.id) %>' class="list-group-item">
      <div class="image-dom" style="background-image: url('<%= product.first_image %>')"></div>
      <div class="">
        <div class="title">
          <%= product.name %>
        </div>
        <div class="address">
          <small>地址: <%= product.address_line1 %></small>
        </div>
        <small class="time">活动时间: <%= product.date.present? ? product.date : ( product.time.present? ? product.time : "尚未发布" ) %></small>
        <% if product.status == 'open' %>
          <span class='pull-right text-warning'>
            <strong>
              <i class='fa fa-fire'></i> 进行中
            </strong>
          </span>
        <% elsif product.status == 'completed' %>
          <span class='pull-right text-success'>
            <strong>
              <i class='fa fa-fire'></i> 已售完
            </strong>
          </span>
        <% elsif product.status == 'pending' %>
          <span class='pull-right text-danger'>
            <strong>
              <i class='fa fa-fire'></i> 未开始
            </strong>
          </span>
        <% elsif product.status == 'closed' %>
          <span class='pull-right status cancel '>
             <strong>
               <i class='fa fa-fire'></i> 已结束
             </strong>
          </span>
        <% else %>
        <span class='pull-right'>
           <strong>
             <i class='fa fa-fire'></i> 未发布
           </strong>
        </span>
        <% end %>
      </div>
    </a>
  <% end%>
</div>
<%= paginate @products %>
<!-- <nav aria-label="Page navigation" class='text-right'>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->

<style lang="css">
  body { padding-top: 55px; }
  @media (max-width: 767px) {
    .navbar-brand {
      margin: 0;
      padding: 15px;
      width: 41%;
    }
  }
  @media (min-width: 767px) {
    .title-cneter-p {
      display: none !important;
    }
  }
  .top-tabs-block{
    border: 0px;
    border-radius: 0px;
    margin-bottom: 5px
  }
  .top-tabs-block .screen-list label{
    position: relative;
    margin-right: 5px;
    width: 50px;
    text-align: center;
  }
  .top-tabs-block .screen-list label.active::before{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0px;
    background: #FF5722;
  }
  .custom-list .title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 35px;
    font-size: 16px;
  }
  .custom-list .time, .custom-list .address{
    color: #777;
    line-height: 20px;
  }
  .custom-list .status.cancel{
    color: #ccc
  }
  .custom-list .status{
    color: #FF5722;
  }
  .custom-list .status .fa{
    margin-right: 5px;
  }
  .custom-list .image-dom{
    width: 100%;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .list-group-item:first-child, .list-group-item:last-child{
    border-radius: 0px
  }
  .list-group-item {
    border: 0px;
    border-bottom: 1px solid #ddd;
  }
</style>
