<%= render file: @cms_site.template_dir + '_header.html' %>
<style type="text/css">
  .productImg {
    max-height: 120px;
    /*max-width: 220px;*/
    overflow: hidden;
  }
</style>
<div id="wrap">
  <section id="start" class="padding-top-bottom text-center">
    <div class="container">
      <!-- navbar -->
      <div class="tr-breadcrumb">
  			<div class="title <%= 'pull-left' unless mobile_device? %>">
  				<h1>订单详情</h1>
  			</div>
        <ol class="breadcrumb <%= 'pull-right' unless mobile_device? %>">
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <%= link_to '我的订单', self_order_users_path %>
          </li>
          <li>
            订单号：<%= @order.code %>
          </li>
        </ol>
  		</div>

      <div class="row">
        <div class="col-sm-8 col-md-8 tr-sticky">
          <div class="theiaStickySidebar">
            <!-- 支付成功 -->
            <div class="tr-section">
              <div class="row text-left">
                <div class="col-md-12">
                  <h3 class="clearfix">
                    <div class="<%= 'pull-left' unless mobile_device? %>">
                      支付状态：<span class="text-<%= ['open', 'pending'].include?(@order.status) ? 'danger' : 'success' %>"><%=  enum_l(@order, :status) %></span>
                    </div>
                    <% if mobile_device? %>
                    <p></p>
                    <% end %>
                    <div class="<%= 'pull-right' unless mobile_device? %>">
                      总金额：<span class="text-danger">¥ <%= @order.price/100.0%></span>
                    </div>
                  </h3>
                  <hr>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="productImg">
                        <a href="<%= frontend_product_path(@order.products.first) %>">
                          <img src="<%= @order.products.first.first_image %>" alt="" class="img-responsive"/>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-8 text-left">
                      <h4>
                        <a href="<%= frontend_product_path(@order.products.first) %>" style="color: #2e2e2e;">
                          <%= @order.products.first.name%>
                        </a>
                        <small><%= @order.products.first.catalog.try(:name)%></small>
                      </h4>
                      <p>
                        <span>
                          <i class="fa fa-map-marker productColorIcon"></i>
                          <%= @order.products.first.address_line1%>
                        </span>
                      </p>
                      <p>
                        <span>
                          <i class="fa fa-clock-o productColorIcon"></i>
                          <%@order.member_attributes[0].each do |key,value|%>
                            <% if key=="datatime" %>
                              <%=value%>
                            <%end%>
                          <%end%>
                        </span>
                      </p>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-md-3">
                      <p>预留手机号:
                        <small class="text-info"><%= @order.delivery_phone || current_user.mobile.try(:phone_number) %></small>
                      </p>
                    </div>
                    <div class="col-md-3">
                      <p>下单时间:
                        <small><%= distance_of_time_in_words_to_now(@order.created_at) %>前</small>
                      </p>
                    </div>
                    <% if @order.paid? %>
                      <div class="col-md-3 col-xs-6 text-center">
                        <% if @order.refund_status.blank?%>
                          <%= link_to '已到场消费', confirm_frontend_order_path(@order), method: :post, data: { confirm: "您‘确认’已经到场消费该活动?" }, class: 'btn btn-danger' %>
                        <% end %>
                      </div>
                      <div class="col-md-3 col-xs-6 text-center">
                        <% if @order.refund_status.blank?%>
                          <%= link_to '退款申请', refund_frontend_order_path(@order), method: :post, data: { confirm: "是否需要退款?" }, class: 'btn btn-default' %>
                        <% else %>
                          <p><%= enum_l(@order, :refund_status) %> </p>
                        <% end %>
                      </div>
                    <% elsif ['open', 'pending'].include?(@order.status) %>
                      <div class="col-md-6 col-xs-12 text-right">
                        <%= link_to '去支付', charge_frontend_orders_path(order_id: @order.id), method: :post, remote: true, class: 'btn btn-danger' %>
                      </div>
                    <% else %>
                      <div class="col-md-6 col-xs-12 text-right">
                        <a href="<%= self_order_users_path %>" class="btn btn-default">返回我的订单列表</a>
                      </div>
                    <% end %>
                  </div>

                  <div class="row" style="margin-top: 15px">
                    <% if @order.member_attributes.present? %>
                      <% @order.member_attributes.each do |attr| %>
                        <table class="table">
                          <% attr.each_pair do |key, v| %>
                            <% next if key == 'product_id' || key == 'stocknu' || key == 'datatime'%>
                            <tr>
                              <td><%= Product::MEMBER_ATTRIBUTES[key.to_sym] || key %></td>
                              <td><%= v %></td>
                            </tr>
                          <% end %>
                        </table>
                      <%end%>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>
            <% if @order.member_attributes.present? %>
              <div class="tr-section">
                <h3>报名人员信息</h3>
                <% @order.member_attributes.each do |attr| %>
                  <div class="panel panel-default" style="margin-top: 5px;">
                    <div class="panel-body">
                      <table class="table">
                        <% attr.each_pair do |key, v| %>
                          <% next if key == 'product_id' || key == 'stocknu' || key == 'datatime'%>
                          <tr>
                            <td><%= Product::MEMBER_ATTRIBUTES[key.to_sym] || key %></td>
                            <td><%= v %></td>
                          </tr>
                        <% end %>
                      </table>
                    </div>
                  </div>
                <%end%>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-sm-5 col-md-4 tr-sticky hidden-xs" >
          <%= render file: 'frontend/users/_nav_sidebar.html.erb' %>
        </div>
      </div>

    </div>
  </section>

  <%= render file: @cms_site.template_dir + '_footer.html' %>
</div>
<%= javascript_include_tag 'payment_core/pingpp' %>
<script>
  function onStartCharging(charge){
    pingpp.createPayment(charge, function(result, err){
      console.log(result);
      console.log(err.msg);
      console.log(err.extra);
      if (result == "success") {
        location.reload();
        // 只有微信公众账号 wx_pub 支付成功的结果会在这里返回，其他的支付结果都会跳转到 extra 中对应的 URL。
      } else if (result == "fail") {
          // charge 不正确或者微信公众账号支付失败时会在此处返回
      } else if (result == "cancel") {
          // 微信公众账号支付取消支付
      }
    });
  }

  function onOrderCreate(errors) {
    var errors = JSON.parse(errors)
    for(var key in errors) {
      if (key == 'order_product_stock') {
        alert(errors[key][0])
      }
    }
  }
</script>
