<%= render file: @cms_site.template_dir + '_header.html' %>
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered">
        <caption style="text-align:center;">个人选课情况</caption>
            <thead>
            <tr>
                <th>课程</th>
                <th>任课教师</th>
                <th>周次</th>
                <th>上课时间</th>
                <th>上课地点</th>
                <th>撤销选课</th>
            </tr>
            </thead>
            <tbody>            
            <tr>
                <td><%=@class.name%></td>
                <td><%=@class.teacher_name%></td>
                <td><%=@class.weeknu%></td>
                <td><%=@class.class_time%></td>
                <td><%=@class.class_place%></td>
                <td><%= link_to '撤销选课', frontend_classorder_path(@class),
                method: :delete,
                data: { confirm: '确定要删除这节课吗?' } %></td>
            </tr>
            </tbody>
            </table>
    </div>
    </div>

</div>