<div class="container">
  <h1> 产品管理
    <div class="pull-right">
      <%= link_to '添加产品', new_agent_product_path, class: 'btn btn-primary' %>
      <%#= link_to '分类搜索', '#', class: 'btn btn-info' %>
    </div>
  </h1>
</div>

<div id="search-results" class="section-container bg-silver m-b-20 p-0 primary-content">
  <!-- BEGIN container -->
  <div class="container">
      <!-- BEGIN search-container -->
    <div class="search-container">
      <!-- BEGIN search-content -->
      <div class="search-content">
        <!-- BEGIN search-toolbar -->
        <div class="search-toolbar">
          <!-- BEGIN row -->
          <div class="row">
            <!-- BEGIN col-6 -->
            <div class="col-md-6">
              <h4>商品列表
              <% if params[:search].present? %>
                  <span>: 搜索出 <%= @products.size %> 商品</span>
              <% end %>
              </h4>
            </div>
            <!-- END col-6 -->
            <!-- BEGIN col-6 -->
            <div class="col-md-6 text-right">
              <ul class="sort-list">
                <li class="text"><i class="fa fa-filter"></i> 排序方式:</li>
                <li class="<%= 'sign' unless params[:reorder].present? %>">
                  <%= link_to '默认', agent_products_path %>
                </li>
                <!-- <li class="<%= 'sign' unless params[:reorder] == 'clicks' %>">
                  <s>点击</s>
                  <#%= link_to '点击', agent_products_path+"?reorder=clicks" %>
                </li> -->
                <li class="<%= 'sign' if params[:reorder] == 'newest' %>">
                  <%= link_to '最新', agent_products_path+"?reorder=newest" %>
                </li>
                <!-- <li class="<%= 'sign' if params[:reorder] == 'sales' %>">
                  <s>销量</s>
                  <#%= link_to '销量', agent_products_path+"?reorder=sales" %>
                </li> -->
                <li class="<%= 'sign' if params[:reorder] == 'price' %>">
                  <%= link_to '价格', agent_products_path+"?reorder=price" %>
                </li>
              </ul>
            </div>
            <!-- END col-6 -->
          </div>
          <!-- END row -->
        </div>
        <!-- END search-toolbar -->
        <!-- BEGIN search-item-container -->
        <div class="search-item-container">
          <% @products.each_with_index do |product, index| %>
            <% if index%3 == 0 %>
              <!-- BEGIN item-row -->
              <div class="item-row">
            <% end %>
              <!-- BEGIN item -->
              <div class="item item-thumbnail">
                  <%= link_to agent_product_path(product), class: 'item-image' do%>
                    <%= image_tag product.image_items.first.try{image_url}||'no-picture.png'%>
                    <% if product.discount.present? && product.discount.to_f > 0 && product.discount.to_f < product.price.to_f %>
                      <div class="discount">优惠折扣中</div>
                    <% end %>
                  <% end %>
                  <div class="item-info" style="letter-spacing: 2px;">
                    <h4 class="item-title">
                      <%= link_to product.name, agent_product_path(product) %>
                    </h4>
                    <p class="item-desc"><%= product.description.blank? ? "暂无描述".html_safe :  product.description %></p>
                    <div class="m-t-10">
                      <% if product.discount.to_f > 0 && product.discount.to_f < product.price.to_f %>
                        <small class="item-desc">
                          <s>￥<%= product.price.to_f / 100 %></s>
                        </small>
                        <span class="text-danger h3">
                          <small class="text-danger">￥</small><%= product.discount.to_f / 100 %>
                        </span>
                      <% else %>
                        <span class="text-danger h3">
                          <small class="text-danger">￥</small><%= product.price.to_f / 100 %>
                        </span>
                      <% end %>
                    </div>
                  </div>
                  <%= link_to '删除', agent_product_path(product), method: :delete, data: { confirm: '确定要删除吗?' }, class: 'btn btn-sm btn-danger pull-right' %>
                  <%= link_to '查看订单', orders_agent_product_path(product), class: 'btn btn-sm btn-primary pull-right' %>
              </div>
            <!-- END item-row -->
            <% if index%3 == 2 || index+1 == @products.size %>
              <!-- END item -->
              </div>
            <% end %>
          <% end %>
        </div>
        <!-- END search-item-container -->
        <!-- BEGIN pagination -->
        <div class="text-center">
          <%= paginate @products %>
        </div>
        <!-- END pagination -->
      </div>
      <!-- END search-content -->
      <!-- BEGIN search-sidebar -->
      <div class="search-sidebar">
          <h4 class="title">查询</h4>
          <%= simple_form_for :search, url: agent_products_path, method: :get do |f| %>
            <div class="form-group">
              <div class="control-label">关键字</div>
              <%= f.text_field :keywords, value: (params[:search][:keywords] if params[:search]), placeholder: "输入查询关键字", class: 'form-control input-sm' %>
            </div>
            <div class="form-group">
              <label class="control-label">价格</label>
              <div class="row row-space-0">
                  <div class="col-md-5">
                    <%= f.text_field :price_from, type: 'number', value: (params[:search][:price_from].to_f / 100 if params[:search]),class: 'form-control input-sm', min: '0' %>
                  </div>
                  <div class="col-md-2 text-center p-t-5 f-s-12 text-muted">～</div>
                  <div class="col-md-5">
                    <%= f.text_field :price_to, type: 'number', value: (params[:search][:price_to].to_f / 100 if params[:search]),class: 'form-control input-sm', min: '0' %>
                  </div>
              </div>
            </div>
            <% catalog = ProductCatalog.where(id: params[:search][:catalog_id]).first if params[:search].present? %>
            <div class="form-group catalog-list" rel='catalog-list' data-catalog-name="<%= catalog.self_and_ancestors.pluck(:name).reverse.join('/') if catalog %>" data-catalog-id="<%= catalog.id if catalog%>" data-catalog-ids="<%= catalog.self_and_ancestor_ids.reverse.join(',') if catalog %>">
              <label class="control-label">产品分类</label>
              <input type="hidden" name="search[catalog_id]" v-model="id">
              <input readonly=true @click="showCatalog = true" :value="catalogs" class="form-control" placeholder="点击选择分类">
              <modal title="产品分类" v-show="showCatalog" @cancel="showCatalog = false">
                <div>
                  <catalog-list data-url="<%= agent_product_catalogs_path %>" :default="selecteDefault" @selected="selected" v-if='showCatalog' :show-confirm-buttons="true" @closed="showCatalog = false" :editable='false'></catalog-list>
                </div>
                <div slot="footer"></div>
              </modal>
            </div>
            <div class="form-group">
              <label class="control-label">其他 <span class="m-l-5"><i class="fa fa-plus"></i></span></label>
              <div class="row row-space-0 other-attr">
                  <%= f.input_field :hot, as: :boolean, 'data-val': (params[:search][:hot] if params[:search].present?)%>
                  <label for="">热卖</label>
                  <%= f.input_field :recommend, as: :boolean , 'data-val': (params[:search][:recommend] if params[:search].present?)%>
                  <label for="">推荐</label>
                  <%= f.input_field :event, as: :boolean , 'data-val': (params[:search][:event] if params[:search].present?)%>
                  <label for="">活动</label>
                  <%= f.input_field :promotion, as: :boolean , 'data-val': (params[:search][:promotion] if params[:search].present?)%>
                  <label for="">促销</label>
                  <!-- <div class="col-md-5">
                    <%= f.text_field :price_from, type: 'number', value: (params[:search][:price_from] if params[:search]),class: 'form-control input-sm', min: '0' %>
                  </div>
                  <div class="col-md-2 text-center p-t-5 f-s-12 text-muted">～</div>
                  <div class="col-md-5">
                    <%= f.text_field :price_to, type: 'number', value: (params[:search][:price_to] if params[:search]),class: 'form-control input-sm', min: '0' %>
                  </div> -->
              </div>
            </div>
            <div class="form-group text-right">
              <button type="submit" class="btn btn-sm btn-inverse"><i class="fa fa-search"></i> 查询</button>
            </div>
          <% end %>
      </div>
      <!-- END search-sidebar -->
    </div>
    <!-- END search-container -->
  </div>
  <!-- END container -->
</div>
