<!DOCTYPE html>
<!--[if lt IE 7 ]><html itemscope itemtype="https://schema.org/" id="ie6" class="ie" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="https://schema.org/" id="ie7" class="ie" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="https://schema.org/" id="ie8" class="ie" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="https://schema.org/" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!-->
<html itemscope itemtype="https://schema.org/" lang="zh-CN">
<!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="author" content="tanmer.com" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= javascript_include_tag *webpack_asset_paths('vendor') %>
    <%= javascript_include_tag *webpack_asset_paths('application') %>
    <title><%= @meta_title.present? ? @meta_title : (content_for?(:title) ? yield(:title) : @cms_site.name) %></title>
    <meta name="keywords" content="<%= @meta_keywords.present? ? @meta_keywords : yield(:meta_keywords) %>">
    <meta name="description" content="<%= @meta_description.present? ? @meta_description : yield(:meta_description) %>">

    <%= render file: @cms_site.template_dir + '_head.html' %>
    <%= stylesheet_link_tag :frontend %>
    <%= javascript_include_tag :frontend %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>

    <%= render file: @cms_site.template_dir + '_foot.html' %>
    <%= yield(:foot) %>
  </body>
</html>
