<!-- Sections å³ -->
<div id="fullpage">
  <!-- Welcome -->
  <section data-anchor="section_welcome">
    <div class="container">
      <div class="row">
        <div class="text-center col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-6">
          <h1 class="heading" data-animate-in="animateUpDown">
           <%= @share_obj.title %>
          </h1>

          <div class="thumbnail">
            <img src="<%= @share_obj.image_items.empty? ? 'http://admin.imolin.cn/ckeditor_assets/pictures/11/content_xiaoqu_pic_hd.jpg' : @share_obj.image_items.first %>" class="img img-responsive" />
          </div>

          <p class="thumbnail delay_1 text-left" data-animate-in="animateUpDown" style="margin-bottom:130px;">
            <%= @share_obj.description %>
          </p>

          <div style="position: fixed; bottom: 10px; left: 0px; width: 100%;">
            <a href="<%= @cms_site.value_for('ios')%>" class="btn btn-lg btn-danger delay_2" data-animate-in="animateUpDown">
              <i class="fa fa-apple"></i> IOS Store
            </a>
            <a href="<%= @cms_site.value_for('android')%>" class="btn btn-lg btn-danger delay_2" data-animate-in="animateUpDown">
              <i class="fa fa-android"></i> Android Store
            </a>
          </div>


        </div>
      </div> <!-- / .row -->
    </div><!-- / .container -->
  </section>
</div>
<!-- / #fullpage -->
